.container{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.main-col-2{
  width: 570px;
  border:1px solid rgba(235,235,235,1);
  box-sizing: border-box;
  padding-bottom: 40px;
}
.main-col-2:nth-child(odd){
  margin-right: 30px;
}
.main-col-2:hover {
  box-shadow:0px 0px 20px 0px rgba(220,220,220,1);
}


.main-col-3{
  width:370px;
  border:1px solid rgba(235,235,235,1);
  margin-right: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.main-col-3:hover{
  box-shadow:0px 0px 20px 0px rgba(220,220,220,1);
}
.main-col-3:nth-child(3n+0){
  margin-right: 0;
}


.main-col-2 .main-col-2-img{
  width:568px;
  height:320px;
  position: relative;
}

.main-col-2 .main-col-2-img img{
  width:568px;
  height:320px;
  transition: all .2s;
}
/* .main-col-2 .main-img:hover img {
  transform: scale(1.05);
} */

.main-col-2:nth-child(even) .main-col-2-img .main-col-2-left-img-text{
  
  position: absolute;
  top: 80px;
  left: 40px;
  color: #fff;
}
.main-col-2:nth-child(odd) .main-col-2-img .main-col-2-left-img-text{
  position: absolute;
  top: 80px;
  right: 40px;
  color: #fff;
}
.main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-title{
  height:33px;
  font-size:24px;
  font-weight:300;
  color:rgba(255,255,255,1);
  line-height:33px;
  margin-top: 15px;
}
.main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-title:first-child{
  margin-top: 0;
}
.main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-horizontal{
  height:2px;
  line-height: 2px;
  margin-top: 15px;
}
.main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-horizontal .horizontal-bar-left{
  width: 24px;
  height: 2px;
}
.main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-right-horizontal{
  height:3px;
  line-height: 3px;
  margin-top: 23px;
}
.main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-right-horizontal .horizontal-bar-right{
  width: 33px;
  height: 3px;
}
.main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-date{
  height:25px;
  font-size:18px;
  font-weight:300;
  color:rgba(255,255,255,1);
  line-height:25px;
  margin-top: 8px;
}




.main-col-3 .main-col-3-img{
  width:368px;
  height:265px;
  overflow: hidden;
}
.main-col-3 .main-col-3-img img{
  width:368px;
  height:265px;
  transition: all .2s;
}
.main-col-3:hover .main-col-3-img img{
  transform: scale(1.1);
}
/* .main-col-2 .main-col-2-img .main-col-2-img-text .title-top{
  
} */
.main-col-2 .main-col-2-describe{
  width: 534px;
  height:56px;
  margin: 18px auto 0;
  font-size:16px;
  color:rgba(51,51,51,1);
  line-height:28px;
  display: block;
}


.main-col-3 .main-col-3-describe{
  width:334px;
  height:56px;
  margin: 24px auto 0;
  font-size:16px;
  color:rgba(51,51,51,1);
  line-height:28px;
  padding-bottom: 25px;
}

.main-col-2 .main-col-2-btn{
  display: block;
  width:350px;
  height:48px;
  line-height: 48px;
  background:rgba(42,217,254,1);
  border-radius:2px;
  margin: 28px auto 0;
  font-size:18px;
  font-weight:900;
  color:rgba(255,255,255,1);
  text-align: center;
}

.main-col-3 .main-col-3-icon-content{
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
}

.main-col-3 .main-col-3-icon-content .main-col-3-icon{
  width: 70px;
  height: 70px;
  margin-left: 16px;
  border: 1px dashed #333;
}
.main-col-3 .main-col-3-icon-content .main-col-3-icon img{
  width: 70px;
  height: 70px;
}

.main-col-3 .main-col-3-icon-content .main-col-3-icon-infomation{
  width: 242px;
  margin-left: 14px;
}
.main-col-3 .main-col-3-icon-content .main-col-3-icon-infomation .title{
  height:20px;
  font-size:14px;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:20px;
}
.main-col-3 .main-col-3-icon-content .main-col-3-icon-infomation .describe{
  height:40px;
  font-size:14px;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:20px;
  margin-top: 10px;
}

.text-align-right{
  text-align: right;
}

.text-align-left{
  text-align: left;
}


@media screen and (max-width: 1400px){
  .container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .main-col-2{
    width: 427px;
    border:1px solid rgba(235,235,235,1);
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  .main-col-2:nth-child(odd){
    margin-right: 22px;
  }
  .main-col-2:hover {
    box-shadow:0px 0px 15px 0px rgba(220,220,220,1);
  }
  
  
  .main-col-3{
    width:277px;
    border:1px solid rgba(235,235,235,1);
    margin-right: 22px;
    box-sizing: border-box;
    margin-bottom: 22px;
  }
  .main-col-3:hover{
    box-shadow:0px 0px 20px 0px rgba(220,220,220,1);
  }
  .main-col-3:nth-child(3n+0){
    margin-right: 0;
  }
  
  
  .main-col-2 .main-col-2-img{
    width:425px;
    height:240px;
    position: relative;
  }
  
  .main-col-2 .main-col-2-img img{
    width:425px;
    height:240px;
    transition: all .2s;
  }
  /* .main-col-2 .main-img:hover img {
    transform: scale(1.05);
  } */
  
  .main-col-2:nth-child(even) .main-col-2-img .main-col-2-left-img-text{
    
    position: absolute;
    top: 60px;
    left: 30px;
    color: #fff;
  }
  .main-col-2:nth-child(odd) .main-col-2-img .main-col-2-left-img-text{
    position: absolute;
    top: 60px;
    left: 30px;
    color: #fff;
  }
  .main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-title{
    height:25px;
    font-size:18px;
    font-weight:300;
    color:rgba(255,255,255,1);
    line-height:25px;
    margin-top: 11px;
  }
  .main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-title:first-child{
    margin-top: 0;
  }
  .main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-horizontal{
    height:2px;
    line-height: 2px;
    margin-top: 11px;
  }
  .main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-horizontal .horizontal-bar-left{
    width: 24px;
    height: 2px;
  }
  .main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-right-horizontal{
    height:3px;
    line-height: 3px;
    margin-top: 23px;
  }
  .main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-right-horizontal .horizontal-bar-right{
    width: 33px;
    height: 3px;
  }
  .main-col-2 .main-col-2-img .main-col-2-left-img-text .main-col-2-img-text-date{
    height:25px;
    font-size:18px;
    font-weight:300;
    color:rgba(255,255,255,1);
    line-height:25px;
    margin-top: 8px;
  }
  
  
  
  
  .main-col-3 .main-col-3-img{
    width: 275px;
    height: 198px;
    overflow: hidden;
  }
  .main-col-3 .main-col-3-img img{
    width: 275px;
    height: 198px;
    transition: all .2s;
  }
  .main-col-3:hover .main-col-3-img img{
    transform: scale(1.1);
  }
  /* .main-col-2 .main-col-2-img .main-col-2-img-text .title-top{
    
  } */
  .main-col-2 .main-col-2-describe{
    width: 400px;
    height: 42px;
    margin: 13px auto 0;
    font-size: 12px;
    color:rgba(51,51,51,1);
    line-height: 21px;
  }
  
  
  .main-col-3 .main-col-3-describe{
    width:250px;
    height:42px;
    margin: 18px auto 0;
    font-size:12px;
    color:rgba(51,51,51,1);
    line-height:21px;
    padding-bottom: 18px;
  }
  
  .main-col-2 .main-col-2-btn{
    display: block;
    width:262px;
    height:36px;
    line-height: 36px;
    background:rgba(42,217,254,1);
    border-radius:2px;
    margin: 21px auto 0;
    font-size: 14px;
    font-weight:900;
    color:rgba(255,255,255,1);
    text-align: center;
  }
  
  .main-col-3 .main-col-3-icon-content{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
  }
  
  .main-col-3 .main-col-3-icon-content .main-col-3-icon{
    width: 52px;
    height: 52px;
    margin-left: 12px;
    border: 1px dashed #333;
  }
  .main-col-3 .main-col-3-icon-content .main-col-3-icon img{
    width: 52px;
    height: 52px;
  }
  
  .main-col-3 .main-col-3-icon-content .main-col-3-icon-infomation{
    width: 242px;
    margin-left: 14px;
  }
  .main-col-3 .main-col-3-icon-content .main-col-3-icon-infomation .title{
    height:20px;
    font-size:14px;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:20px;
  }
  .main-col-3 .main-col-3-icon-content .main-col-3-icon-infomation .describe{
    height:28px;
    font-size:12px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:14px;
    margin-top: 4px;
  }
}