.hd .hd_for {
  margin-bottom: 70px;
}
.hd .hd_for .hd_box {
  margin-left: 139px;
  overflow: hidden;
  margin-top: 45px;
}
.hd .hd_for .hd_box .hd_every {
  display: block;
  width: 307px;
  height: 131px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  margin-left: 48px;
}
.hd .hd_for .hd_box .hd_every:nth-child(1) {
  margin-left: 0;
}
.hd .hd_for .hd_box .hd_every .every_til {
  width: 246px;
  margin: auto;
  height: 50px;
  margin-top: 23px;
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #585858;
  line-height: 25px;
  overflow: hidden;
}
.hd .hd_for .hd_box .hd_every .every_b {
  margin-top: 15px;
  overflow: hidden;
}
.hd .hd_for .hd_box .hd_every .every_b .e_address {
  height: 29px;
  background: #585858;
  transform: skewX(-20deg);
  margin-left: 30px;
}
.hd .hd_for .hd_box .hd_every .every_b .e_address p {
  width: 130px;
  padding: 0 20px;
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 29px;
  transform: skewX(20deg);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.hd .hd_for .hd_box .hd_every .every_b .e_date {
  height: 29px;
  margin-right: 35px;
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #787878;
  line-height: 29px;
}
.hd .hd_for .yg_box {
  margin-top: 16px;
  height: 28px;
  margin-left: 12px;
}
.hd .hd_for .yg_box .yg_text {
  width: 90px;
  height: 28px;
  background: #2AD9FE;
  transform: skewX(-25deg);
}
.hd .hd_for .yg_box .yg_text span {
  display: block;
  transform: skewX(25deg);
  font-size: 16px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 28px;
  text-align: center;
}
.hd .hd_for .yg_box .line1 {
  width: 182px;
  overflow: hidden;
  color: #2AD9FE;
  font-size: 26px;
  font-family: MyriadPro-Regular;
  line-height: 28px;
  height: 28px;
}
.hd .hd_for .yg_box .ball {
  width: 26px;
  height: 26px;
  background: #2ad9fe;
  border-radius: 50%;
  margin-top: 2px;
}
.hd .hd_for .yg_box .line2 {
  width: 331px;
  overflow: hidden;
  color: #2AD9FE;
  font-size: 26px;
  font-family: MyriadPro-Regular;
  line-height: 28px;
  height: 28px;
}
.hd .hd_for .yg_box .line3 {
  width: 338px;
  overflow: hidden;
  color: #2AD9FE;
  font-size: 26px;
  font-family: MyriadPro-Regular;
  line-height: 28px;
  height: 28px;
}
.hd .hd_for .yg_box .line4 {
  width: 118px;
  overflow: hidden;
  color: #2AD9FE;
  font-size: 26px;
  font-family: MyriadPro-Regular;
  line-height: 28px;
  height: 28px;
}
.hd .hd_list_box {
  height: 2080px;
}
.hd .hd_list_box .hd_list_e {
  overflow: hidden;
  width: 1156px;
  height: 273px;
  border: 1px solid #e2e2e2;
  padding: 14px;
  box-sizing: border-box;
  margin-top: 52px;
}
.hd .hd_list_box .hd_list_e .pic_box {
  width: 359px;
  height: 243px;
  overflow: hidden;
}
.hd .hd_list_box .hd_list_e .pic_box img {
  width: 100%;
  height: 100%;
}
.hd .hd_list_box .hd_list_e .e_text_box {
  margin-left: 54px;
  margin-top: 29px;
  width: 710px;
}
.hd .hd_list_box .hd_list_e .e_text_box h5 {
  font-size: 28px;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #323232;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hd .hd_list_box .hd_list_e .e_text_box p {
  margin-top: 26px;
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #323232;
  line-height: 25px;
  height: 50px;
  overflow: hidden;
}
.hd .hd_list_box .hd_list_e .e_text_box .e_address {
  display: inline-block;
  padding: 0 20px;
  height: 37px;
  background: #2ad9fe;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 37px;
  text-align: center;
}
.hd .hd_list_box .hd_list_e .e_text_box .e_date {
  margin-top: 20px;
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #787878;
}
