.hd {
    .hd_for {
        margin-bottom: 70px;

        .hd_box {
            margin-left: 139px;
            overflow: hidden;
            margin-top: 45px;

            .hd_every {
                width: 307px;
                height: 131px;
                background: rgba(255, 255, 255, 1);
                border: 1px solid rgba(226, 226, 226, 1);
                margin-left: 48px;

                &:nth-child(1) {
                    margin-left: 0;
                }

                .every_til {
                    width: 246px;
                    margin: auto;
                    height: 50px;
                    margin-top: 23px;
                    font-size: 18px;
                    font-family: PingFang-SC-Regular;
                    font-weight: 400;
                    color: rgba(88, 88, 88, 1);
                    line-height: 25px;
                }

                .every_b {
                    margin-top: 15px;
                    overflow: hidden;

                    .e_address {
                        width: 73px;
                        height: 29px;
                        background: rgba(88, 88, 88, 1);
                        transform: skewX(-20deg);
                        margin-left: 30px;

                        p {
                            font-size: 18px;
                            font-family: PingFang-SC-Regular;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                            line-height: 29px;
                            transform: skewX(20deg);
                            text-align: center;

                        }
                    }

                    .e_date {
                        height: 29px;
                        margin-right: 35px;
                        font-size: 18px;
                        font-family: PingFang-SC-Regular;
                        font-weight: 400;
                        color: rgba(120, 120, 120, 1);
                        line-height: 29px;
                    }
                }
            }
        }

        .yg_box {
            margin-top: 16px;
            height: 28px;
            margin-left: 12px;

            .yg_text {
                width: 90px;
                height: 28px;
                background: #2AD9FE;
                transform: skewX(-25deg);

                span {
                    display: block;
                    transform: skewX(25deg);
                    font-size: 16px;
                    font-family: PingFang-SC-Regular;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    line-height: 28px;
                    text-align: center;
                }
            }

            .line1 {
                width: 182px;
                overflow: hidden;
                color: #2AD9FE;
                font-size: 26px;
                font-family: MyriadPro-Regular;
                line-height: 28px;
                height: 28px;
            }

            .ball {
                width: 26px;
                height: 26px;
                background: rgba(42, 217, 254, 1);
                border-radius: 50%;
                margin-top: 2px;
            }

            .line2 {
                width: 331px;
                overflow: hidden;
                color: #2AD9FE;
                font-size: 26px;
                font-family: MyriadPro-Regular;
                line-height: 28px;
                height: 28px;
            }

            .line3 {
                width: 338px;
                overflow: hidden;
                color: #2AD9FE;
                font-size: 26px;
                font-family: MyriadPro-Regular;
                line-height: 28px;
                height: 28px;
            }

            .line4 {
                width: 118px;
                overflow: hidden;
                color: #2AD9FE;
                font-size: 26px;
                font-family: MyriadPro-Regular;
                line-height: 28px;
                height: 28px;
            }
        }
    }

    .hd_list_box {
        .hd_list_e {
            overflow: hidden;
            width: 1156px;
            height: 273px;
            border: 1px solid rgba(226, 226, 226, 1);
            padding: 14px;
            box-sizing: border-box;

            .pic_box {
                width: 359px;
                height: 243px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .e_text_box {
                margin-left: 54px;
                margin-top: 29px;
                width: 710px;

                h5 {
                    font-size: 28px;
                    font-family: PingFang-SC-Bold;
                    font-weight: bold;
                    color: rgba(50, 50, 50, 1);
                }

                p {
                    margin-top: 26px;
                    font-size: 18px;
                    font-family: PingFang-SC-Regular;
                    font-weight: 400;
                    color: rgba(50, 50, 50, 1);
                    line-height: 25px;
                    height: 50px;
                }

                .e_address {
                    width: 88px;
                    height: 37px;
                    background: rgba(42, 217, 254, 1);
                    border-radius: 3px;
                    margin-top: 10px;
                    font-size: 18px;
                    font-family: PingFang-SC-Regular;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    line-height: 37px;
                    text-align: center;
                }

                .e_date {
                    margin-top: 20px;
                    font-size: 18px;
                    font-family: PingFang-SC-Regular;
                    font-weight: 400;
                    color: rgba(120, 120, 120, 1);
                }
            }
        }
    }
}