.footer {
  background: #1F1F1F;
}
.footer .footer_box {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.footer .footer_box .totop {
  z-index: 10;
  height: .51rem;
  width: .63rem;
  background: #676767;
  display: none;
  position: fixed;
  transform: skewX(-20deg);
  right: .6rem;
  bottom: 2rem;
  transition: all .8s;
}
.footer .footer_box .totop .tojt {
  transform: skewX(20deg);
  position: relative;
}
.footer .footer_box .totop .tojt img {
  display: block;
  width: .08rem;
  margin: auto;
  margin-top: .24rem;
}
.footer .footer_box .footer_con {
  padding-top: .52rem;
  margin: auto;
  overflow: hidden;
  margin-left: .34rem;
}
.footer .footer_box .footer_con .footer_con_l {
  overflow: hidden;
}
.footer .footer_box .footer_con .footer_con_l .f_til {
  font-size: .26rem;
  color: #676767;
}
.footer .footer_box .footer_con .footer_con_l .f_line {
  width: 1.1rem;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: .15rem;
}
.footer .footer_box .footer_con .footer_con_l .email {
  overflow: hidden;
  margin-top: .34rem;
}
.footer .footer_box .footer_con .footer_con_l .email img {
  display: block;
  float: left;
  width: .22rem;
  height: .16rem;
  margin-top: .07rem;
}
.footer .footer_box .footer_con .footer_con_l .email p {
  float: left;
  margin-left: .09rem;
  font-size: .20rem;
  color: #676767;
}
.footer .footer_box .footer_con .footer_con_l .file {
  display: block;
  overflow: hidden;
  margin-top: .34rem;
}
.footer .footer_box .footer_con .footer_con_l .file img {
  display: block;
  float: left;
  width: .16rem;
  height: .22rem;
  margin-left: .76rem;
  margin-top: .02rem;
}
.footer .footer_box .footer_con .footer_con_l .file p {
  float: left;
  font-size: .20rem;
  margin-left: .12rem;
  font-weight: 400;
}
.footer .footer_box .footer_con .footer_con_l .file p a {
  color: #676767;
}
.footer .footer_box .footer_con .footer_con_r {
  margin-top: .53rem;
}
.footer .footer_box .footer_con .footer_con_r .r_til {
  font-size: .26rem;
  color: #676767;
}
.footer .footer_box .footer_con .footer_con_r .r_line {
  height: 2px;
  width: 1.9rem;
  background: rgba(255, 255, 255, 0.3);
  margin-top: .13rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy {
  margin: auto;
  margin-top: .33rem;
  position: relative;
  height: .63rem;
  margin-left: .56rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_box {
  height: .63rem;
  position: relative;
  margin-left: .2rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_box input {
  position: absolute;
  width: 4.7rem;
  top: .02rem;
  left: .1rem;
  height: .6rem;
  outline: none;
  font-size: .17rem;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: .3rem;
  padding-right: .3rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_box p {
  margin-top: .01rem;
  position: absolute;
  left: .1rem;
  top: 0;
  height: .4rem;
  line-height: .6rem;
  font-size: .22rem;
  font-weight: 400;
  color: #aaaaaa;
  width: 100%;
  padding-left: .3rem;
  z-index: 8;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_l_box {
  position: absolute;
  height: .63rem;
  width: .42rem;
  background: #2AD9FE;
  top: 0;
  left: .1rem;
  transform: skewX(-25deg);
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box {
  position: absolute;
  height: .63rem;
  width: 1.5rem;
  background: #2AD9FE;
  top: 0;
  left: 4.6rem;
  transform: skewX(-25deg);
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box .button {
  background: #2AD9FE;
  border: none;
  margin: auto;
  transform: skewX(25deg);
  font-size: .26rem;
  font-weight: 400;
  color: #fff;
  line-height: .56rem;
  display: block;
  outline: none;
  margin-top: .05rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box input[type=button],
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box input[type=submit],
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box input[type=file],
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box button {
  cursor: pointer;
  -webkit-appearance: none;
}
.footer .footer_box .footer_img {
  width: 6.4rem;
  margin: auto;
  overflow: hidden;
}
.footer .footer_box .footer_img .wechet_box {
  position: relative;
  width: .4rem;
  height: .4rem;
  margin-left: 1.1rem;
  margin-top: .6rem;
  font-size: 0;
}
.footer .footer_box .footer_img .wechet_box .biao {
  width: .41rem;
}
.footer .footer_box .footer_img .wechet_box .ma {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.footer .footer_box .footer_img .wechet_box .ma img {
  width: 3rem;
  height: 3rem;
}
.footer .footer_box .footer_img .zs_box {
  position: relative;
  width: .25rem;
  height: .4rem;
  margin-left: 1.1rem;
  margin-top: .6rem;
  font-size: 0;
}
.footer .footer_box .footer_img .zs_box .biao {
  width: .25rem;
}
.footer .footer_box .footer_img .zs_box .ma {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.footer .footer_box .footer_img .zs_box .ma img {
  width: 3rem;
  height: 3rem;
}
.footer .footer_box .footer_img a {
  display: block;
  float: left;
  width: .4rem;
  height: .4rem;
  margin-left: 1.1rem;
  font-size: 0;
  margin-top: .6rem;
}
.footer .footer_box .footer_img a:nth-child(1) {
  margin-left: 0;
}
.footer .footer_box .footer_img a:nth-child(6) {
  margin-left: 0;
}
.footer .footer_box .footer_img a img {
  height: .28rem;
}
.footer .footer_box .footer_bottom {
  font-size: .22rem;
  font-weight: normal;
  color: #ffffff;
  margin: auto;
  margin-top: .4rem;
  margin-bottom: .3rem;
  text-align: center;
  opacity: 0.34;
}
