.footer {
  height: 4.2rem;
  background: #1f1f1f;
}
.footer .footer_box {
  position: relative;
  margin: auto;
}
.footer .footer_box .totop {
  height: .51rem;
  width: .63rem;
  background: #676767;
  display: none;
  position: fixed;
  transform: skewX(-20deg);
  right: .6rem;
  bottom: 2rem;
  transition: all .8s;
}
.footer .footer_box .totop .tojt {
  transform: skewX(20deg);
  position: relative;
}
.footer .footer_box .totop .tojt img {
  display: block;
  width: .08rem;
  margin: auto;
  margin-top: .24rem;
}
.footer .footer_box .footer_con {
  padding-top: .4rem;
  margin: auto;
  overflow: hidden;
  margin-left: .34rem;
}
.footer .footer_box .footer_con .footer_con_l .f_til {
  font-size: .2rem;
  font-family: FjallaOne;
  color: #676767;
}
.footer .footer_box .footer_con .footer_con_l .f_line {
  width: 2.05rem;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: .13rem;
}
.footer .footer_box .footer_con .footer_con_l .email {
  overflow: hidden;
  margin-top: .31rem;
}
.footer .footer_box .footer_con .footer_con_l .email img {
  display: block;
  float: left;
  width: .22rem;
  height: .16rem;
}
.footer .footer_box .footer_con .footer_con_l .email p {
  float: left;
  margin-left: .09rem;
  font-size: .17rem;
  font-family: MyriadPro-Regular;
  color: #ffffff;
  line-height: .15rem;
}
.footer .footer_box .footer_con .footer_con_l .file {
  display: block;
  overflow: hidden;
  margin-top: .17rem;
}
.footer .footer_box .footer_con .footer_con_l .file img {
  display: block;
  float: left;
  width: .16rem;
  height: .22rem;
  margin-left: .02rem;
}
.footer .footer_box .footer_con .footer_con_l .file p {
  float: left;
  font-size: .17rem;
  margin-left: .12rem;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: .25rem;
}
.footer .footer_box .footer_con .footer_con_l .file p a {
  color: #fff;
}
.footer .footer_box .footer_con .footer_con_r {
  margin-left: .23rem;
}
.footer .footer_box .footer_con .footer_con_r .r_til {
  font-size: .2rem;
  font-family: FjallaOne;
  color: #676767;
}
.footer .footer_box .footer_con .footer_con_r .r_line {
  height: 2px;
  width: 3.49rem;
  background: rgba(255, 255, 255, 0.3);
  margin-top: .13rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy {
  margin-top: .35rem;
  position: relative;
  height: .42rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_box {
  height: .4rem;
  position: relative;
  margin-left: .2rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_box input {
  position: absolute;
  top: .01rem;
  left: .1rem;
  height: .4rem;
  outline: none;
  font-size: .17rem;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: .3rem;
  padding-right: .3rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_box p {
  margin-top: .01rem;
  position: absolute;
  left: .1rem;
  top: 0;
  height: .4rem;
  line-height: .4rem;
  font-size: .17rem;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  color: #aaaaaa;
  width: 100%;
  padding-left: .3rem;
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_l_box {
  position: absolute;
  height: .42rem;
  width: .35rem;
  background: #2AD9FE;
  top: 0;
  left: .1rem;
  transform: skewX(-25deg);
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box {
  position: absolute;
  height: .42rem;
  width: .9rem;
  background: #2AD9FE;
  top: 0;
  left: 2.6rem;
  transform: skewX(-25deg);
}
.footer .footer_box .footer_con .footer_con_r .footer_dy .input_r_box .button {
  background: #2AD9FE;
  border: none;
  margin: auto;
  transform: skewX(25deg);
  font-size: .12rem;
  font-family: FjallaOne;
  font-weight: 400;
  color: #fff;
  line-height: .42rem;
  display: block;
  outline: none;
}
.footer .footer_box .footer_img {
  width: 6.25rem;
  margin: auto;
  overflow: hidden;
  margin-top: .88rem;
}
.footer .footer_box .footer_img .wechet_box {
  position: relative;
  width: .4rem;
  height: .4rem;
  margin-left: .8rem;
  font-size: 0;
}
.footer .footer_box .footer_img .wechet_box .biao {
  width: .41rem;
}
.footer .footer_box .footer_img .wechet_box .ma {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.footer .footer_box .footer_img .wechet_box .ma img {
  width: 3rem;
  height: 3rem;
}
.footer .footer_box .footer_img a {
  display: block;
  float: left;
  width: .4rem;
  height: .4rem;
  margin-left: .75rem;
  font-size: 0;
}
.footer .footer_box .footer_img a:nth-child(1) {
  margin-left: 0;
}
.footer .footer_box .footer_img a img {
  height: .28rem;
}
.footer .footer_box .footer_bottom {
  font-size: .22rem;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.34;
  margin: auto;
  margin-top: .47rem;
  text-align: center;
}
