.video_box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 100;
    // display: flex;

    .video {
        margin: auto;
        // width: 1200px;
        position: relative;

        .close_box {
            display: block;
            // position: absolute;
            // width: 40px;
            // height: 40px;
            // margin-left: 1160px;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }

            img {
                // width: 40px;
                // height: 40px;
            }

        }

        .iframe {
            margin: auto;
        }
    }
}




.banner_box {
    width: 100%;
    margin: auto;
    height: 5.47rem;
    background: url('../../images/hlogo.png') no-repeat center;
    background-size: 7.5rem 5.47rem;
    overflow: hidden;

    .play_btn {
        margin-top: 3.61rem;
        margin-left: 0.98rem;
        width: 0.64rem;
        height: 0.64rem;
    }

}

.explane {
    overflow: hidden;
    .expplane_til {
        margin-top: .38rem;
        text-align: center;
        font-size: .26rem;
        color: #676767;
        font-family: HYQiHeiX1-FEW;
    }

    .expplane_main {
        width: 6.53rem;
        height: 2.64rem;
        border: 1px solid rgba(226, 226, 226, 1);
        padding: .28rem .35rem 0 .35rem;
        margin: auto;
        margin-top: .29rem;
        box-sizing: border-box;

        ul {
            li {
                list-style: none;
                font-size: .2rem;
                font-family: HYQiHeiX1-CEW;
                color: rgba(0, 0, 0, 1);
                line-height: .35rem;
            }
        }
    }

    .fenge {
        display: block;
        width: .82rem;
        height: .07rem;
        margin: auto;
        margin-top: .46rem;
    }

    .explane_img {
        margin: auto;
        margin-top: .37rem;
        overflow: hidden;

        .ex_l_box {
            // width: 6.4rem;
            margin: auto;
            margin-top: .59rem;
            overflow: hidden;
            margin-left: .48rem;

            &:nth-child(1) {
                margin-top: .37rem;
            }

            .ex_l_w {
                margin-left: .28rem;
                width: 2.4rem;
                height: 1.17rem;
                transform: skewX(-25deg);
                border: 1px solid rgba(221, 221, 221, 1);

                img {
                    display: block;
                    width: .51rem;
                    height: .51rem;
                    margin: auto;
                    margin-top: .32rem;
                    transform: skewX(25deg);
                }
            }

            .ex_l_r {
                width: 3rem;
                margin-left: .7rem;

                .ex_img_til {
                    font-size: .18rem;
                    font-family: HiraginoSansGB-W6;
                    color: #767676;
                    text-align: left;
                    height: .4rem;
                }

                .ex_img_text {
                    margin-top: .23rem;
                    font-size: .14rem;
                    font-family: HiraginoSansGB-W3;
                    color: rgba(47, 47, 47, 1);
                    line-height: .24rem;
                    // text-align: center;
                }
            }
        }


    }
}

.news_box {
    margin: auto;
    width: 6.54rem;
    margin-top: .87rem;

    .news_til_box {
        height: .48rem;
        position: relative;

        .news_til {
            width: 1.45rem;
            height: .44rem;
            background: rgba(88, 88, 88, 1);
            transform: skewX(-20deg);
            position: relative;
            margin-left: .08rem;

            h3 {
                transform: skewX(20deg);
                font-family: FjallaOne;
                letter-spacing: 2px;
                font-size: .26rem;
                color: rgba(255, 255, 255, 1);
                font-weight: normal;
                line-height: .44rem;
                text-align: center;
            }



            .news_line {
                width: 6.45rem;
                height: .04rem;
                background: rgba(42, 217, 254, 1);
            }
        }

        .news_til_mask {
            position: absolute;
            width: 1.2rem;
            height: .41rem;
            background: #2AD9FE;
            top: -.15rem;
            left: .93rem;
            z-index: -2;
            transform: skewX(-20deg);
        }

        .news_til_more {
            position: absolute;
            top: -.06rem;
            right: .11rem;
            width: 1rem;
            height: .39rem;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(221, 221, 221, 1);
            transform: skewX(10deg);

            div {
                transform: skewX(-10deg);
                font-size: .15rem;
                font-family: MyriadPro-Regular;
                font-weight: 400;
                color: rgba(170, 170, 170, 1);
                line-height: .39rem;
                text-align: center;
            }
        }

    }

    .news_main {

        .news_top {
            // overflow: hidden;
            height: 4rem;

            .news_top_box {
                // overflow: hidden;
                height: 1.01rem;
                margin-top: .45rem;

                .news_pic {
                    position: relative;

                    a {
                        display: block;
                        width: 1.86rem;
                        height: 1.01rem;
                        overflow: hidden;

                        img {
                            width: 1.86rem;
                            height: 1.01rem;
                        }
                    }

                    .news_top_til {
                        position: absolute;
                        width: 1.75rem;
                        height: .25rem;
                        left: .05rem;
                        transform: skewX(-20deg);
                        background: rgba(88, 88, 88, 1);
                        bottom: -.1rem;

                        div {
                            transform: skewX(20deg);

                            h5 {
                                font-size: .1rem;
                                font-family: FjallaOne;
                                font-weight: 350;
                                color: rgba(255, 255, 255, 1);
                                line-height: .25rem;
                                text-align: center;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                transform: translate3d(0, 0, 0);
                            }
                        }

                    }
                }

                .news_top_content {
                    margin-left: .33rem;
                    font-size: .16rem;
                    font-family: Roboto-Light;
                    color: rgba(135, 135, 135, 1);
                    line-height: .28rem;
                    width: 4.2rem;
                    overflow: hidden;
                    height: 1.1rem;
                }
            }
        }

        .news_bottom {
            margin-top: .3rem;
            overflow: hidden;

            li {
                width: 3.13rem;
                margin-left: .25rem;
                margin-top: .16rem;

                &:nth-child(1) {
                    margin-left: 0;
                }

                &:nth-child(3) {
                    margin-left: 0;
                }

                a {
                    display: block;
                    overflow: hidden;

                    .img_box {
                        width: 1.02rem;
                        height: 0.68rem;
                        display: block;
                    }

                    .img_box_text {
                        width: 2.1rem;
                        height: .68rem;
                        border: 1px solid rgba(238, 238, 238, 1);
                        border-left: 0;
                        box-sizing: border-box;
                        transform: skewX(-12deg);
                        margin-left: -.05rem;
                        overflow: hidden;

                        div {
                            transform: skewX(12deg);

                            h5 {
                                margin-top: .16rem;
                                margin-left: .14rem;
                                margin-right: .08rem;
                                font-size: .14rem;
                                font-family: FjallaOne;
                                font-weight: 400;
                                color: rgba(102, 102, 102, 1);
                                line-height: .17rem;
                                transform: translate3d(0, 0, 0);
                            }
                        }

                    }
                }
            }
        }
    }
}

.system {
    height: 3.53rem;
    background: rgba(51, 51, 51, 1);
    margin-top: .74rem;
    position: relative;

    .system_til_box {
        margin: auto;
        padding-top: .16rem;
        margin-left: .5rem;

        .sys_til_our {
            width: 2.1rem;
            height: .53rem;
            background: rgba(88, 88, 88, 1);
            transform: skewX(-22deg);

            h4 {
                transform: skewX(22deg);
                font-size: .27rem;
                font-family: FjallaOne;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: .53rem;
                text-align: center;
            }
        }

        .sys_til_ex {
            font-size: .14rem;
            font-family: HiraginoSansGB-W3;
            font-weight: normal;
            color: rgba(255, 255, 255, 1);
            margin-top: .19rem;
            margin-left: -.08rem;
        }

    }

    .sys_logo {
        width: .9rem;
        height: .95rem;
        margin: auto;
        margin-top: .54rem;
        display: block;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .sys_line {
        width: 5.13rem;
        height: .25rem;
        margin: auto;
        margin-top: .23rem;
        display: block;
    }

    .sys_img {
        width: 6.51rem;
        margin: auto;
        margin-top: .05rem;

        .sys_img_box {
            width: 1.1rem;
            height: 1.04rem;
            transform: skewX(-17deg);
            background: #585858;
            margin-left: .18rem;

            &:nth-child(1) {
                margin-left: 0;
            }

            img {
                display: block;
                width: .36rem;
                height: .36rem;
                transform: skewX(17deg);
                margin: auto;
                margin-top: .28rem;
            }

            &:nth-child(2) {
                img {
                    width: .49rem;
                    height: .34rem;
                    margin-top: .29rem;
                }

            }

            &:nth-child(3) {
                img {
                    width: .35rem;
                    height: .31rem;
                    margin-top: .33rem;
                }

                p {
                    margin-top: .14rem;
                }

            }

            &:nth-child(4) {
                img {
                    width: .38rem;
                    height: .38rem;
                    margin-top: .28rem;
                }
                p {
                    margin-top: .13rem;
                }

            }

            &:nth-child(5) {
                img {
                    width: .31rem;
                    height: .37rem;
                    margin-top: .29rem;
                }
                p {
                    margin-top: .13rem;
                }

            }

            p {
                margin-top: .16rem;
                font-size: .09rem;
                font-family: HiraginoSansGB-W6;
                font-weight: normal;
                color: rgba(255, 255, 255, 1);
                text-align: center;
                transform: skewX(17deg);
                margin-left: .12rem;

            }
        }
    }
}

.map {
    margin: auto;
    margin-top: 1.35rem;
    width: 6.54rem;
    .news_til_box {
        height: .48rem;
        position: relative;
        .news_til {
            width: 1.45rem;
            height: .44rem;
            background: rgba(88, 88, 88, 1);
            transform: skewX(-20deg);
            position: relative;
            margin-left: .08rem;

            h3 {
                transform: skewX(20deg);
                font-family: FjallaOne;
                letter-spacing: 2px;
                font-size: .26rem;
                color: rgba(255, 255, 255, 1);
                font-weight: normal;
                line-height: .44rem;
                text-align: center;
            }



            .news_line {
                width: 6.45rem;
                height: .04rem;
                background: rgba(42, 217, 254, 1);
            }
        }

        .news_til_mask {
            position: absolute;
            width: 1.2rem;
            height: .41rem;
            background: #2AD9FE;
            top: -.15rem;
            left: .93rem;
            z-index: -2;
            transform: skewX(-20deg);
        }

        .news_til_more {
            position: absolute;
            top: -.06rem;
            right: .11rem;
            width: 1rem;
            height: .39rem;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(221, 221, 221, 1);
            transform: skewX(10deg);

            div {
                transform: skewX(-10deg);
                font-size: .15rem;
                font-family: MyriadPro-Regular;
                font-weight: 400;
                color: rgba(170, 170, 170, 1);
                line-height: .39rem;
                text-align: center;
            }
        }

    }

    .map_main_box {
        overflow: hidden;
        position: relative;
        .map_s_box {
            height: 1.18rem;
            background: rgba(238, 238, 238, 0);
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            margin-left: .1rem;
            margin-top: .4rem;
            h5 {
                font-size: .16rem;
                font-family: HiraginoSansGB-W6;
                font-weight: normal;
                color: rgba(32, 32, 32, 1);
                line-height: 1.18rem;
            }
            p {
                width: 4.76rem;
                height: 1.18rem;
                margin-left: .73rem;
                font-size: .16rem;
                font-family: PingFang-SC-Regular;
                font-weight: 400;
                color: rgba(47, 47, 47, 1);
                line-height: .3rem;
                border: 1px solid rgba(221, 221, 221, 1);
                padding: .18rem .2rem 0 .2rem;
                box-sizing: border-box;

            }

          
        }


    }

    .line_box {
        position: absolute;
        width: .27rem;
        height:6.57rem;
        top: 1.0rem;
        left: 1.2rem;
        background: url('../../images/cline.png') no-repeat center;

        img {
            display: block;
            width: .27rem;
            margin-top: 1.57rem;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

}

.hezuo {
    height: 5.85rem;
    margin-top: .54rem;
    background: #333333;

    .hezuo_box {
        margin: auto;

        .hezuo_head {
            height: .55rem;
            position: relative;

            .head_w {
                position: absolute;
                width: .7rem;
                height: .25rem;
                background: #676767;
                transform: skewX(-25deg);
                top: .3rem;
                left: .25rem;
            }

            .head_b {
                position: absolute;
                height: .67rem;
                width: 1.5rem;
                background: #2AD9FE;
                transform: skewX(-25deg);
                top: -.22rem;
                left: .6rem;

                img {
                    display: block;
                    width: .65rem;
                    height: .29rem;
                    transform: skewX(25deg);
                    margin: auto;
                    margin-top: .19rem;

                }
            }

            .head_til {
                position: absolute;
                width: 5rem;
                height: .31rem;
                background: #676767;
                transform: skewX(-25deg);
                bottom: .1rem;
                left:2.05rem;

                .head_til_box {
                    transform: skewX(25deg);
                    font-size: .18rem;
                    height: .28rem;
                    font-family: HiraginoSansGB-W6;
                    font-weight: normal;
                    color: rgba(255, 255, 255, 1);
                    line-height:.28rem;
                    margin-left: .3rem;
                }

                .head_til_b {
                    position: absolute;
                    width: 3.9rem;
                    height: .03rem;
                    background: #2AD9FE;
                    left: .3rem;
                    bottom: -.03rem;
                }
            }
        }

        .hezuo_com {
            width: 7.05rem;
            margin: auto;

            .hezuo_top {
                overflow: hidden;
                margin-top: .06rem;
                div {
                    width: 1.26rem;
                    height: .86rem;
                    margin-left: .18rem;
                    margin-top: .2rem;

                    &:nth-child(1) {
                        margin-left: 0;
                    }

                    &:nth-child(6) {
                        margin-left: 0;
                    }
                }
            }

            .hezuo_middle {
                display: block;
                width: .17rem;
                height: .2rem;
                margin: auto;
                margin-top: .14rem;
            }

            .hezuo_bottom {
                overflow: hidden;

                div {
                    width: 1.26rem;
                    height: .86rem;
                    margin-left: .18rem;
                    margin-top: .13rem;

                    &:nth-child(1) {
                        margin-left: 0;
                    }
                }
            }
        }

        .hezuo_sm {
            margin: auto;
            margin-top: .6rem;
            text-align: center;

            h6 {
                font-size:.2rem;
                font-family: MyriadPro-Regular;
                font-weight: bold;
                color: rgba(42, 217, 254, 1);
            }

            p {
                margin-top: .21rem;
                font-size: .12rem;
                font-family: HiraginoSansGB-W3;
                font-weight: normal;
                color: rgba(255, 255, 255, 1);
                opacity: 0.44;
            }
        }
    }
}