.video_box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateY(-30rem);
}
.video_box .video {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.banner_box {
  width: 100%;
  margin: auto;
  height: 5.47rem;
  background: url('https://jdi.cocosbcx.net/image/cocosbcx/h5-banner24.jpg') no-repeat center;
  background-size: 7.5rem 5.47rem;
  overflow: hidden;
  position: relative;
}
.banner_box .wlogo {
  display: block;
  width: 1.22rem;
  height: .54rem;
  top: .22rem;
  left: .22rem;
  position: absolute;
}
.banner_box .home_btn_box {
  width: 6.2rem;
  margin: auto;
  margin-top: 1.6rem;
}
.banner_box .home_btn_box h5 {
  font-size: .6rem;
  color: #fff;
  font-weight: normal;
  font-family: FjallaOne;
}
.banner_box .home_btn_box h6 {
  color: #fff;
  font-weight: normal;
  font-size: .38rem;
  margin-top: .1rem;
}
.banner_box .home_btn_box .play_btn {
  overflow: hidden;
  margin-top: .16rem;
}
.banner_box .home_btn_box .play_btn img {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
}
.banner_box .home_btn_box .play_btn p {
  width: 4.8rem;
  margin-left: .3rem;
  color: #fff;
  font-size: .22rem;
  line-height: .3rem;
}
.banner_box .home_btn_box_en {
  margin-top: 1.1rem;
}
.explane {
  overflow: hidden;
}
.explane .expplane_til {
  margin-top: .45rem;
  text-align: center;
  font-weight: bold;
  font-size: .30rem;
  color: #555555;
}
.explane .expplane_main {
  width: 7.1rem;
  border: 1px solid #e2e2e2;
  padding: .28rem .35rem 0.2rem .35rem;
  margin: auto;
  margin-top: .29rem;
  box-sizing: border-box;
}
.explane .expplane_main ul li {
  list-style: none;
  font-size: .22rem;
  color: #000000;
  line-height: .4rem;
}
.explane .expplane_main ul li:nth-child(2) {
  color: #555;
}
.explane .fenge {
  display: block;
  width: .82rem;
  height: .07rem;
  margin: auto;
  margin-top: .7rem;
}
.explane .explane_img {
  margin: auto;
  margin-top: .1rem;
  overflow: hidden;
}
.explane .explane_img .ex_l_box {
  margin: auto;
  margin-top: .45rem;
  overflow: hidden;
  margin-left: .17rem;
}
.explane .explane_img .ex_l_box:nth-child(1) {
  margin-top: .37rem;
}
.explane .explane_img .ex_l_box .ex_l_w {
  margin-left: .28rem;
  width: 2.2rem;
  height: 1.17rem;
  transform: skewX(-25deg);
  border: 1px solid #dddddd;
}
.explane .explane_img .ex_l_box .ex_l_w img {
  display: block;
  width: .51rem;
  height: .51rem;
  margin: auto;
  margin-top: .32rem;
  transform: skewX(25deg);
}
.explane .explane_img .ex_l_box:nth-child(2) img {
  width: .55rem;
}
.explane .explane_img .ex_l_box .ex_l_r {
  width: 3.8rem;
  margin-left: .5rem;
  opacity: 0;
  transform: translateX(4rem);
  transition: all .5s;
}
.explane .explane_img .ex_l_box .ex_l_r .ex_img_til {
  font-size: .3rem;
  color: #555;
  text-align: left;
  height: .4rem;
  overflow: hidden;
}
.explane .explane_img .ex_l_box .ex_l_r .ex_img_text {
  margin-top: .17rem;
  font-size: .22rem;
  color: #2f2f2f;
  line-height: .3rem;
  height: .6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news_box {
  margin: auto;
  width: 7.1rem;
  margin-top: .87rem;
}
.news_box .news_til_box {
  height: .48rem;
  position: relative;
}
.news_box .news_til_box .news_til {
  width: 1.45rem;
  height: .44rem;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: .08rem;
}
.news_box .news_til_box .news_til h3 {
  transform: skewX(20deg);
  letter-spacing: 2px;
  font-size: .3rem;
  color: #ffffff;
  font-weight: normal;
  line-height: .44rem;
  text-align: center;
}
.news_box .news_til_box .news_til .news_line {
  width: 7.05rem;
  height: .04rem;
  background: #2ad9fe;
}
.news_box .news_til_box .news_til_mask {
  position: absolute;
  width: 1.2rem;
  height: .41rem;
  background: #2AD9FE;
  top: -0.15rem;
  left: .93rem;
  z-index: -2;
  transform: skewX(-20deg);
}
.news_box .news_til_box .news_til_more {
  position: absolute;
  top: -0.06rem;
  right: .11rem;
  width: 1rem;
  height: .39rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  transform: skewX(10deg);
}
.news_box .news_til_box .news_til_more div {
  transform: skewX(-10deg);
  font-size: .22rem;
  font-weight: 400;
  color: #aaaaaa;
  line-height: .39rem;
  text-align: center;
}
.news_box .news_main .news_top {
  height: 4.5rem;
}
.news_box .news_main .news_top .news_top_box {
  display: block;
  height: 1.23rem;
  margin-top: .45rem;
  overflow: hidden;
}
.news_box .news_main .news_top .news_top_box .news_pic img {
  width: 2.26rem;
  height: 1.23rem;
}
.news_box .news_main .news_top .news_top_box .news_top_til {
  width: 4.4rem;
  margin-left: .27rem;
}
.news_box .news_main .news_top .news_top_box .news_top_til h5 {
  font-size: .26rem;
  font-weight: bold;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
}
.news_box .news_main .news_top .news_top_box .news_top_til .news_top_content {
  margin-top: .16rem;
  font-size: .20rem;
  color: #878787;
  line-height: .28rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news_box .news_main .news_bottom {
  margin-top: .3rem;
  overflow: hidden;
}
.news_box .news_main .news_bottom li {
  width: 3.4rem;
  margin-left: .25rem;
  margin-top: .16rem;
}
.news_box .news_main .news_bottom li:nth-child(1) {
  margin-left: 0;
}
.news_box .news_main .news_bottom li:nth-child(3) {
  margin-left: 0;
}
.news_box .news_main .news_bottom li a {
  display: block;
}
.news_box .news_main .news_bottom li a .img_box {
  width: 1.02rem;
  height: 0.68rem;
  display: block;
  position: relative;
  z-index: 5;
}
.news_box .news_main .news_bottom li a .img_box_text {
  width: 2.4rem;
  height: .68rem;
  border: 1px solid #eeeeee;
  border-left: 0;
  box-sizing: border-box;
  transform: skewX(-12deg);
  margin-left: -0.05rem;
}
.news_box .news_main .news_bottom li a .img_box_text div {
  transform: skewX(12deg);
}
.news_box .news_main .news_bottom li a .img_box_text div h5 {
  margin-top: .07rem;
  margin-left: .18rem;
  margin-right: .08rem;
  font-size: .20rem;
  font-weight: 400;
  color: #666666;
  line-height: .17rem;
  line-height: .3rem;
  height: .6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.system {
  height: 3.07rem;
  background: #333333;
  margin-top: .74rem;
  position: relative;
}
.system .system_til_box {
  margin: auto;
  padding-top: .34rem;
  margin-left: .5rem;
}
.system .system_til_box .sys_til_our {
  width: 2.5rem;
  height: .53rem;
  background: #585858;
  transform: skewX(-22deg);
}
.system .system_til_box .sys_til_our h4 {
  transform: skewX(22deg);
  font-size: .26rem;
  font-weight: 400;
  color: #ffffff;
  line-height: .53rem;
  text-align: center;
}
.system .sys_logo {
  width: .98rem;
  height: 1.04rem;
  margin: auto;
  display: block;
  animation: m2 1.5s alternate infinite;
}
@keyframes m2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -0.2rem);
  }
}
.system .sys_logo img {
  width: 100%;
  height: 100%;
}
.system .sys_line {
  width: 5.6rem;
  height: .27rem;
  margin: auto;
  margin-top: .23rem;
  display: block;
  margin-left: 1.1rem;
}
.system .sys_img {
  width: 7.5rem;
  margin: auto;
  margin-top: .05rem;
  overflow: hidden;
}
.system .sys_img .sys_img_box {
  width: 1.2rem;
  height: 1.21rem;
  transform: skewX(-17deg);
  background: #585858;
  margin-left: .18rem;
}
.system .sys_img .sys_img_box:nth-child(1) {
  margin-left: .38rem;
}
.system .sys_img .sys_img_box img {
  display: block;
  width: .36rem;
  height: .36rem;
  transform: skewX(17deg);
  margin: auto;
  margin-top: .15rem;
}
.system .sys_img .sys_img_box:nth-child(2) img {
  width: .49rem;
  height: .34rem;
  margin-top: .3rem;
}
.system .sys_img .sys_img_box:nth-child(3) img {
  width: .35rem;
  height: .31rem;
  margin-top: .33rem;
}
.system .sys_img .sys_img_box:nth-child(3) p {
  margin-top: .16rem;
}
.system .sys_img .sys_img_box:nth-child(4) img {
  width: .38rem;
  height: .38rem;
  margin-top: .28rem;
}
.system .sys_img .sys_img_box:nth-child(4) p {
  margin-top: .16rem;
}
.system .sys_img .sys_img_box:nth-child(5) img {
  width: .31rem;
  height: .37rem;
  margin-top: .29rem;
}
.system .sys_img .sys_img_box:nth-child(5) p {
  margin-top: .15rem;
}
.system .sys_img .sys_img_box p {
  margin-top: .16rem;
  font-size: .15rem;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  transform: skewX(17deg);
  margin-left: .12rem;
}
.map {
  margin: auto;
  margin-top: 1.35rem;
  width: 7.1rem;
}
.map .news_til_box {
  height: .48rem;
  position: relative;
}
.map .news_til_box .news_til {
  width: 2rem;
  height: .44rem;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: .08rem;
}
.map .news_til_box .news_til h3 {
  transform: skewX(20deg);
  letter-spacing: 2px;
  font-size: .3rem;
  color: #ffffff;
  font-weight: normal;
  line-height: .44rem;
  text-align: center;
  overflow: hidden;
  height: .44rem;
}
.map .news_til_box .news_til .news_line {
  width: 7.05rem;
  height: .04rem;
  background: #2ad9fe;
}
.map .news_til_box .news_til_mask {
  position: absolute;
  width: 2rem;
  height: .41rem;
  background: #2AD9FE;
  top: -0.15rem;
  left: 1rem;
  z-index: -2;
  transform: skewX(-20deg);
}
.map .news_til_box .news_til_more {
  position: absolute;
  top: -0.06rem;
  right: .11rem;
  width: 1rem;
  height: .39rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  transform: skewX(10deg);
}
.map .news_til_box .news_til_more div {
  transform: skewX(-10deg);
  font-size: .15rem;
  font-weight: 400;
  color: #aaaaaa;
  line-height: .39rem;
  text-align: center;
}
.map .map_main_box {
  overflow: hidden;
  position: relative;
}
.map .map_main_box .map_s_box {
  height: 1.39rem;
  background: rgba(238, 238, 238, 0);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-left: .1rem;
  margin-top: .24rem;
}
.map .map_main_box .map_s_box h5 {
  font-size: .22rem;
  font-weight: bold;
  color: #555;
  line-height: 1.4rem;
}
.map .map_main_box .map_s_box p {
  width: 5.2rem;
  height: 1.39rem;
  margin-left: .56rem;
  font-size: .22rem;
  font-weight: 400;
  color: #555;
  line-height: .38rem;
  border: 1px solid #dddddd;
  padding: .22rem .2rem  0 .2rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  transition: all .8s;
  opacity: 0;
  transform: translateX(5.6rem);
}
.map .line_box {
  position: absolute;
  width: .27rem;
  height: 6.57rem;
  top: 1.0rem;
  left: 1.38rem;
  background: url('../../images/cline.png') no-repeat center;
}
.map .line_box img {
  display: block;
  width: .27rem;
  margin-top: 1.61rem;
}
.map .line_box img:nth-child(1) {
  margin-top: 0;
}
.hezuo {
  height: 6.3rem;
  margin-top: .54rem;
  background: #333333;
}
.hezuo .hezuo_box {
  margin: auto;
}
.hezuo .hezuo_box .hezuo_head {
  height: .6rem;
  position: relative;
}
.hezuo .hezuo_box .hezuo_head .head_b {
  position: absolute;
  height: .81rem;
  width: 1.7rem;
  background: #2AD9FE;
  transform: skewX(-25deg);
  top: -0.32rem;
  left: .4rem;
}
.hezuo .hezuo_box .hezuo_head .head_b img {
  display: block;
  width: 1.2rem;
  transform: skewX(25deg);
  margin: auto;
  margin-top: .12rem;
}
.hezuo .hezuo_box .hezuo_head .head_til {
  position: absolute;
  width: 5rem;
  height: .59rem;
  background: #676767;
  transform: skewX(-25deg);
  bottom: .1rem;
  left: 2.1rem;
}
.hezuo .hezuo_box .hezuo_head .head_til .head_til_box {
  transform: skewX(25deg);
  font-size: .3rem;
  height: .59rem;
  font-weight: normal;
  color: #ffffff;
  line-height: .59rem;
  margin-left: .3rem;
}
.hezuo .hezuo_box .hezuo_head .head_til .head_til_b {
  position: absolute;
  width: 4.3rem;
  height: .03rem;
  background: #2AD9FE;
  left: .3rem;
  bottom: -0.03rem;
}
.hezuo .hezuo_box .hezuo_com {
  width: 7.05rem;
  margin: auto;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top {
  overflow: hidden;
  margin-top: .06rem;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top a {
  display: block;
  width: 1.26rem;
  height: .86rem;
  margin-left: .18rem;
  margin-top: .2rem;
  transform: translateY(1rem);
  opacity: 0;
  transition: all .5s;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top a:nth-child(1) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top a:nth-child(6) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_com .hezuo_middle {
  display: block;
  width: .17rem;
  height: .2rem;
  margin: auto;
  margin-top: .14rem;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom {
  overflow: hidden;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom a {
  display: block;
  width: 1.26rem;
  height: .86rem;
  margin-left: .18rem;
  margin-top: .13rem;
  transform: translateY(0.5rem);
  opacity: 0;
  transition: all .5s;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom a:nth-child(1) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_sm {
  margin: auto;
  margin-top: .6rem;
  text-align: center;
}
.hezuo .hezuo_box .hezuo_sm h6 {
  font-size: .3rem;
  font-weight: bold;
  color: #2ad9fe;
}
.hezuo .hezuo_box .hezuo_sm p {
  margin-top: .26rem;
  font-size: .22rem;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.44;
}
