.video_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.video_box .video {
  margin: auto;
  width: 1200px;
  position: relative;
}
.video_box .video .close_box {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 1160px;
  cursor: pointer;
}
.video_box .video .close_box:hover {
  opacity: .7;
}
.video_box .video .close_box img {
  width: 40px;
  height: 40px;
}
.video_box .video .iframe {
  margin: auto;
}
.banner_box {
  width: 100%;
  margin: auto;
  height: 5.47rem;
  background: url('../../images/hlogo.png') no-repeat center;
  background-size: 7.5rem 5.47rem;
  overflow: hidden;
}
.banner_box .play_btn {
  margin-top: 3.61rem;
  margin-left: 0.98rem;
  width: 0.64rem;
  height: 0.64rem;
}
.explane .expplane_til {
  margin-top: .38rem;
  text-align: center;
  font-size: .26rem;
  color: #676767;
  font-family: HYQiHeiX1-FEW;
}
.explane .expplane_main {
  margin-top: 44px;
  width: 6.53rem;
  height: 2.64rem;
  border: 1px solid #e2e2e2;
  padding: .28rem .35rem 0 .35rem;
  margin: auto;
  box-sizing: border-box;
}
.explane .expplane_main ul li {
  list-style: none;
  font-size: .2rem;
  font-family: HYQiHeiX1-CEW;
  color: #000000;
  line-height: .35rem;
}
.explane .fenge {
  display: block;
  width: .82rem;
  height: .07rem;
  margin: auto;
  margin-top: .46rem;
}
.explane .explane_img {
  margin: auto;
  margin-top: .37rem;
  overflow: hidden;
}
.explane .explane_img .ex_l_box {
  margin: auto;
  margin-top: .59rem;
  overflow: hidden;
  margin-left: .48rem;
}
.explane .explane_img .ex_l_box:nth-child(1) {
  margin-top: .37rem;
}
.explane .explane_img .ex_l_box .ex_l_w {
  margin-left: .28rem;
  width: 2.4rem;
  height: 1.17rem;
  transform: skewX(-25deg);
  border: 1px solid #dddddd;
}
.explane .explane_img .ex_l_box .ex_l_w img {
  display: block;
  width: .51rem;
  height: .51rem;
  margin: auto;
  margin-top: .32rem;
  transform: skewX(25deg);
}
.explane .explane_img .ex_l_box .ex_l_r {
  width: 3rem;
  margin-left: .7rem;
}
.explane .explane_img .ex_l_box .ex_l_r .ex_img_til {
  font-size: .18rem;
  font-family: HiraginoSansGB-W6;
  color: #767676;
  text-align: left;
  height: .4rem;
}
.explane .explane_img .ex_l_box .ex_l_r .ex_img_text {
  margin-top: .23rem;
  font-size: .14rem;
  font-family: HiraginoSansGB-W3;
  color: #2f2f2f;
  line-height: .24rem;
}
.news_box {
  margin: auto;
  width: 6.54rem;
  margin-top: .87rem;
}
.news_box .news_til_box {
  height: .48rem;
  position: relative;
}
.news_box .news_til_box .news_til {
  width: 1.45rem;
  height: .44rem;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: 11.6px;
}
.news_box .news_til_box .news_til h3 {
  transform: skewX(20deg);
  font-family: FjallaOne;
  letter-spacing: 2px;
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  line-height: .44rem;
  text-align: center;
}
.news_box .news_til_box .news_til .news_line {
  width: 6.45rem;
  height: .04rem;
  background: #2ad9fe;
}
.news_box .news_til_box .news_til_mask {
  position: absolute;
  width: 1.2rem;
  height: .41rem;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-20deg);
}
.news_box .news_til_box .news_til_more {
  position: absolute;
  top: -0.06rem;
  right: .11rem;
  width: 1rem;
  height: .39rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  transform: skewX(10deg);
}
.news_box .news_til_box .news_til_more div {
  transform: skewX(-10deg);
  font-size: .15rem;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  color: #aaaaaa;
  line-height: .39rem;
  text-align: center;
}
.news_box .news_main .news_top {
  overflow: hidden;
}
.news_box .news_main .news_top .news_top_box {
  overflow: hidden;
  margin-top: .45rem;
}
.news_box .news_main .news_top .news_top_box .news_pic {
  position: relative;
}
.news_box .news_main .news_top .news_top_box .news_pic a {
  display: block;
  width: 1.86rem;
  height: 1.01rem;
  overflow: hidden;
}
.news_box .news_main .news_top .news_top_box .news_pic a img {
  width: 1.86rem;
  height: 1.01rem;
}
.news_box .news_main .news_top .news_top_box .news_pic .news_top_til {
  position: absolute;
  width: 1.75rem;
  height: .25rem;
  left: .05rem;
  transform: skewX(-20deg);
  background: #585858;
  bottom: -0.09rem;
}
.news_box .news_main .news_top .news_top_box .news_pic .news_top_til div {
  transform: skewX(20deg);
}
.news_box .news_main .news_top .news_top_box .news_pic .news_top_til div h5 {
  font-size: .1rem;
  font-family: FjallaOne;
  font-weight: 350;
  color: #ffffff;
  line-height: .25rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
}
.news_box .news_main .news_top .news_top_box .news_top_content {
  margin-left: .33rem;
  font-size: .16rem;
  font-family: Roboto-Light;
  color: #878787;
  line-height: .28rem;
  width: 4.2rem;
  overflow: hidden;
}
.news_box .news_main .news_bottom {
  margin-top: .3rem;
  overflow: hidden;
}
.news_box .news_main .news_bottom li {
  width: 3.13rem;
  margin-left: .25rem;
  margin-top: .16rem;
}
.news_box .news_main .news_bottom li:nth-child(1) {
  margin-left: 0;
}
.news_box .news_main .news_bottom li:nth-child(3) {
  margin-left: 0;
}
.news_box .news_main .news_bottom li a {
  display: block;
  overflow: hidden;
}
.news_box .news_main .news_bottom li a .img_box {
  width: 1.02rem;
  height: 0.68rem;
  display: block;
}
.news_box .news_main .news_bottom li a .img_box_text {
  width: 2.1rem;
  height: .68rem;
  border: 1px solid #eeeeee;
  border-left: 0;
  box-sizing: border-box;
  transform: skewX(-12deg);
  margin-left: -0.05rem;
  overflow: hidden;
}
.news_box .news_main .news_bottom li a .img_box_text div {
  transform: skewX(12deg);
}
.news_box .news_main .news_bottom li a .img_box_text div h5 {
  margin-top: .16rem;
  margin-left: .14rem;
  margin-right: .08rem;
  font-size: .14rem;
  font-family: FjallaOne;
  font-weight: 400;
  color: #666666;
  line-height: .17rem;
  transform: translate3d(0, 0, 0);
}
.system {
  height: 3.53rem;
  background: #333333;
  margin-top: .74rem;
  position: relative;
}
.system .system_til_box {
  margin: auto;
  padding-top: .16rem;
  margin-left: .5rem;
}
.system .system_til_box .sys_til_our {
  width: 2.1rem;
  height: .53rem;
  background: #585858;
  transform: skewX(-22deg);
}
.system .system_til_box .sys_til_our h4 {
  transform: skewX(22deg);
  font-size: .27rem;
  font-family: FjallaOne;
  font-weight: 400;
  color: #ffffff;
  line-height: .53rem;
  text-align: center;
}
.system .system_til_box .sys_til_ex {
  font-size: .14rem;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #ffffff;
  margin-top: .19rem;
  margin-left: -0.08rem;
}
.system .sys_logo {
  width: .9rem;
  height: .95rem;
  margin: auto;
  margin-top: .54rem;
  display: block;
}
.system .sys_logo img {
  width: 100%;
  height: 100%;
}
.system .sys_line {
  width: 5.13rem;
  height: .25rem;
  margin: auto;
  margin-top: .23rem;
  display: block;
}
.system .sys_img {
  width: 6.51rem;
  margin: auto;
  margin-top: .05rem;
}
.system .sys_img .sys_img_box {
  width: 1.1rem;
  height: 178px;
  transform: skewX(-17deg);
  background: #585858;
  margin-left: .1rem;
}
.system .sys_img .sys_img_box:nth-child(1) {
  margin-left: 0;
}
.system .sys_img .sys_img_box img {
  display: block;
  width: 64px;
  height: 64px;
  transform: skewX(17deg);
  margin: auto;
  margin-top: 47px;
}
.system .sys_img .sys_img_box:nth-child(2) img {
  width: 82px;
  height: 60px;
  margin-top: 51px;
}
.system .sys_img .sys_img_box:nth-child(3) img {
  width: 60px;
  height: 52px;
  margin-top: 58px;
}
.system .sys_img .sys_img_box:nth-child(4) img {
  width: 66px;
  height: 66px;
  margin-top: 49px;
}
.system .sys_img .sys_img_box:nth-child(5) img {
  width: 54px;
  height: 66px;
  margin-top: 50px;
}
.system .sys_img .sys_img_box p {
  margin-top: 28px;
  font-size: 16px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #ffffff;
  line-height: 17px;
  text-align: center;
  transform: skewX(17deg);
  margin-left: 15px;
}
.map {
  height: 488px;
  margin: auto;
  width: 1170px;
  margin-top: 168px;
}
.map .news_til_box {
  height: 59px;
  position: relative;
}
.map .news_til_box .news_til {
  width: 270px;
  height: 54px;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: 11.6px;
}
.map .news_til_box .news_til h3 {
  transform: skewX(20deg);
  font-family: FjallaOne;
  letter-spacing: 1px;
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
  margin-left: -30px;
}
.map .news_til_box .news_til .news_line {
  width: 1168px;
  height: 5px;
  background: #2ad9fe;
}
.map .news_til_box .news_til_mask {
  position: absolute;
  width: 177px;
  height: 54px;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-20deg);
}
.map .news_til_box .news_til_more {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 86px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #dddddd;
  transform: skewX(10deg);
  cursor: pointer;
}
.map .news_til_box .news_til_more div {
  transform: skewX(-10deg);
  font-size: 11px;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 28px;
  text-align: center;
}
.map .map_main_box {
  margin-top: 27px;
  overflow: hidden;
}
.map .map_main_box .map_s_box {
  width: 217px;
  height: 180px;
  background: rgba(238, 238, 238, 0);
  border: 1px solid #dddddd;
  margin-left: 20px;
  padding: 15px 15px 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.map .map_main_box .map_s_box:nth-child(1) {
  margin-left: 0;
}
.map .map_main_box .map_s_box p {
  font-size: 12px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #2f2f2f;
  line-height: 25px;
}
.map .map_main_box .map_s_box h5 {
  position: absolute;
  font-size: 20px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #202020;
  right: 13px;
  bottom: 19px;
}
.map .line_box {
  width: 1154px;
  height: 40px;
  margin: auto;
  margin-top: 14px;
  background: url('../../images/cline.png') no-repeat center;
}
.map .line_box img {
  margin-left: 235px;
}
.map .line_box img:nth-child(1) {
  margin-left: 102px;
}
.map .map_date {
  display: flex;
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #202020;
}
.map .map_date div {
  flex: 1;
}
.hezuo {
  height: 940px;
  background: #333333;
}
.hezuo .hezuo_box {
  width: 1230px;
  margin: auto;
}
.hezuo .hezuo_box .hezuo_head {
  height: 86px;
  width: 100%;
  position: relative;
}
.hezuo .hezuo_box .hezuo_head .head_w {
  position: absolute;
  width: 114px;
  height: 41px;
  background: #fff;
  transform: skewX(-25deg);
  top: 45px;
  left: 9.5px;
}
.hezuo .hezuo_box .hezuo_head .head_b {
  position: absolute;
  height: 110px;
  width: 258px;
  background: #2AD9FE;
  transform: skewX(-25deg);
  top: -41px;
  left: 77px;
}
.hezuo .hezuo_box .hezuo_head .head_b img {
  display: block;
  width: 108px;
  height: 46px;
  transform: skewX(25deg);
  margin: auto;
  margin-top: 33px;
}
.hezuo .hezuo_box .hezuo_head .head_til {
  position: absolute;
  width: 898px;
  height: 46px;
  background: #676767;
  transform: skewX(-25deg);
  bottom: 17px;
  left: 328px;
}
.hezuo .hezuo_box .hezuo_head .head_til .head_til_box {
  transform: skewX(25deg);
  font-size: 30px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #ffffff;
  line-height: 46px;
  margin-left: 40px;
}
.hezuo .hezuo_box .hezuo_head .head_til .head_til_b {
  position: absolute;
  width: 750px;
  height: 5px;
  background: #2AD9FE;
  left: 46px;
}
.hezuo .hezuo_box .hezuo_com {
  width: 1151px;
  margin: auto;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top {
  overflow: hidden;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top div {
  width: 202px;
  height: 139px;
  margin-left: 34px;
  margin-top: 35px;
  cursor: pointer;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top div:nth-child(1) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top div:nth-child(6) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_com .hezuo_middle {
  width: 29px;
  height: 31px;
  margin: auto;
  margin-top: 24px;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom {
  overflow: hidden;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom div {
  width: 202px;
  height: 139px;
  margin-left: 34px;
  margin-top: 23px;
  cursor: pointer;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom div:nth-child(1) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_sm {
  margin: auto;
  margin-top: 126px;
  text-align: center;
}
.hezuo .hezuo_box .hezuo_sm h6 {
  font-size: 20px;
  font-family: MyriadPro-Regular;
  font-weight: bold;
  color: #2ad9fe;
}
.hezuo .hezuo_box .hezuo_sm p {
  margin-top: 21px;
  font-size: 13px;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.44;
}
