.new {
  width: 6.54rem;
  margin: auto;
  margin-top: .47rem;
}
.new .news_til_box {
  height: .48rem;
  position: relative;
}
.new .news_til_box .news_til {
  width: 1.45rem;
  height: .44rem;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: .08rem;
}
.new .news_til_box .news_til h3 {
  transform: skewX(20deg);
  font-family: FjallaOne;
  letter-spacing: 2px;
  font-size: .26rem;
  color: #ffffff;
  font-weight: normal;
  line-height: .44rem;
  text-align: center;
}
.new .news_til_box .news_til .news_line {
  width: 6.45rem;
  height: .04rem;
  background: #2ad9fe;
}
.new .news_til_box .news_til_mask {
  position: absolute;
  width: 1.2rem;
  height: .41rem;
  background: #2AD9FE;
  top: -0.15rem;
  left: .93rem;
  z-index: -2;
  transform: skewX(-20deg);
}
.new .news_til_box .news_til_more {
  position: absolute;
  top: -0.16rem;
  right: .15rem;
  width: 2.4rem;
  height: .44rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  transform: skewX(10deg);
  display: flex;
  justify-content: center;
}
.new .news_til_box .news_til_more div {
  flex: 1;
  font-size: .15rem;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  color: #aaaaaa;
  line-height: .44rem;
  text-align: center;
}
.new .news_til_box .news_til_more div span {
  display: block;
  transform: skewX(-10deg);
}
.new .new_list .new_list_box {
  overflow: hidden;
  height: 12rem;
}
.new .new_list .new_list_box li {
  width: 3rem;
  height: 3.64rem;
  border: 1px solid #e2e2e2;
  margin-top: .3rem;
  margin-left: .37rem;
  box-sizing: border-box;
}
.new .new_list .new_list_box li:nth-child(1) {
  margin-left: .02rem;
}
.new .new_list .new_list_box li:nth-child(3) {
  margin-left: .02rem;
}
.new .new_list .new_list_box li:nth-child(5) {
  margin-left: .02rem;
}
.new .new_list .new_list_box li .img_box {
  width: 3rem;
  height: 2rem;
  overflow: hidden;
}
.new .new_list .new_list_box li .img_box img {
  width: 100%;
  height: 100%;
}
.new .new_list .new_list_box li .new_til {
  height: .75rem;
  padding: .2rem .15rem 0 .15rem;
  font-size: .2rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #323232;
  line-height: .25rem;
  overflow: hidden;
}
.new .new_list .new_list_box li .new_bottom {
  padding: 0 .15rem;
  overflow: hidden;
  margin-top: .3rem;
  font-size: .16rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #787878;
}
.new .pageNumber {
  height: .34rem;
  margin-top: .44rem;
  margin-bottom: .68rem;
  font-size: .15rem;
  display: flex;
  justify-content: center;
}
