.product .banner_s_box {
  margin: auto;
  height: 568px;
  background: url('../../images/s_banner.png') no-repeat center;
  background-color: #033E4E;
  overflow: hidden;
}
.product .dev_plan {
  width: 1170px;
  height: 272px;
  margin: auto;
  margin-top: 30px;
  background: url('../../images/net.png') no-repeat center;
  overflow: hidden;
}
.product .dev_plan .ljdev {
  display: block;
  width: 254px;
  height: 65px;
  background: #2ad9fe;
  border-radius: 4px;
  margin: auto;
  margin-top: 108px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  line-height: 65px;
}
.product .dev_list_box {
  margin: auto;
  margin-top: 64px;
  padding-bottom: 100px;
}
.product .dev_list_box .dev_game {
  margin: auto;
  width: 1170px;
  padding-bottom: 111px;
}
.product .dev_list_box .dev_game .news_til_box {
  margin: auto;
  height: 59px;
  position: relative;
}
.product .dev_list_box .dev_game .news_til_box .news_til {
  width: 177px;
  height: 54px;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: 11.6px;
}
.product .dev_list_box .dev_game .news_til_box .news_til h3 {
  transform: skewX(20deg);
  font-family: FjallaOne;
  letter-spacing: 1px;
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
  margin-left: -30px;
}
.product .dev_list_box .dev_game .news_til_box .news_til .news_line {
  width: 1168px;
  height: 5px;
  background: #2ad9fe;
}
.product .dev_list_box .dev_game .news_til_box .news_til_mask {
  position: absolute;
  width: 177px;
  height: 54px;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-20deg);
}
.product .dev_list_box .dev_game .dev_game_box {
  margin-top: 37px;
  overflow: hidden;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left {
  overflow: hidden;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box {
  width: 256px;
  height: 256px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box img {
  width: 100%;
  height: 100%;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box {
  margin-left: 33px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box h4 {
  font-size: 26px;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #696969;
  line-height: 31px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box .wordroom {
  margin-top: 16px;
  background: url('../../images/cocos3.png') no-repeat;
  background-size: 15px 19px;
  padding-left: 25px;
  font-size: 20px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #696969;
  line-height: 20px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box p {
  width: 260px;
  height: 163px;
  margin-top: 25px;
  font-size: 20px;
  font-family: HYQiHeiX1-CEW;
  font-weight: 300;
  line-height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
