.product .banner_s_box {
  margin: auto;
  height: 568px;
  background: url('../../images/s_banner.png') no-repeat center;
  background-size: cover;
  background-color: #033E4E;
  overflow: hidden;
}
.product .dev_plan {
  width: 1170px;
  height: 272px;
  margin: auto;
  margin-top: 30px;
  background: url('../../images/net.png') no-repeat center;
  overflow: hidden;
}
.product .dev_plan .ljdev {
  display: block;
  height: 65px;
  border-radius: 4px;
  margin: auto;
  margin-top: 108px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  line-height: 65px;
}
.product .dev_plan .ljdev span {
  display: inline-block;
  background: #2ad9fe;
  border-radius: 4px;
  line-height: 65px;
  padding: 0 30px;
}
.product .dev_list_box {
  margin: auto;
  margin-top: 64px;
  padding-bottom: 100px;
}
.product .dev_list_box .dev_game {
  margin: auto;
  width: 1170px;
  padding-bottom: 90px;
}
.product .dev_list_box .dev_game .news_til_box {
  margin: auto;
  height: 59px;
  position: relative;
}
.product .dev_list_box .dev_game .news_til_box .news_til {
  width: 177px;
  height: 54px;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: 11.6px;
}
.product .dev_list_box .dev_game .news_til_box .news_til h3 {
  transform: skewX(20deg);
  letter-spacing: 1px;
  font-size: 20px;
  color: #ffffff;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
  margin-left: -8px;
}
.product .dev_list_box .dev_game .news_til_box .news_til .news_line {
  width: 1168px;
  height: 5px;
  background: #2ad9fe;
}
.product .dev_list_box .dev_game .news_til_box .news_til_mask {
  position: absolute;
  width: 164px;
  height: 54px;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-20deg);
}
.product .dev_list_box .dev_game .dev_game_box {
  overflow: hidden;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left {
  overflow: hidden;
  margin-top: 37px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left:nth-child(2) {
  margin-left: 70px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box {
  width: 186px;
  height: 186px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box img {
  width: 100%;
  height: 100%;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box {
  margin-left: 39px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box h4 {
  font-size: 20px;
  font-weight: bold;
  color: #696969;
  line-height: 31px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box .wordroom {
  margin-top: 16px;
  background: url('../../images/cocos3.png') no-repeat;
  background-size: 15px 19px;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #696969;
  line-height: 20px;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box p {
  width: 323px;
  height: 106px;
  margin-top: 14px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  position: relative;
  color: #000;
}
@media screen and (max-width: 1400px) {
  .product .banner_s_box {
    margin: auto;
    height: 430px;
    background: url('../../images/s_banner.png') no-repeat center;
    background-size: cover;
    background-color: #033E4E;
    overflow: hidden;
  }
  .product .dev_plan {
    width: 878px;
    height: 205px;
    margin: auto;
    margin-top: 30px;
    background: url('../../images/net.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  .product .dev_plan .ljdev {
    display: block;
    height: 48px;
    border-radius: 4px;
    margin: auto;
    margin-top: 81px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    line-height: 48px;
  }
  .product .dev_plan .ljdev span {
    display: inline-block;
    background: #2ad9fe;
    border-radius: 4px;
    padding: 0 30px;
  }
  .product .dev_list_box {
    margin: auto;
    margin-top: 64px;
    padding-bottom: 30px;
  }
  .product .dev_list_box .dev_game {
    margin: auto;
    width: 877px;
    padding-bottom: 90px;
  }
  .product .dev_list_box .dev_game .news_til_box {
    height: 48px;
    position: relative;
  }
  .product .dev_list_box .dev_game .news_til_box .news_til {
    width: 151px;
    height: 46px;
    background: #585858;
    transform: skewX(-20deg);
    position: relative;
    margin-left: 11.6px;
  }
  .product .dev_list_box .dev_game .news_til_box .news_til h3 {
    transform: skewX(20deg);
    letter-spacing: 1px;
    font-size: 17px;
    color: #ffffff;
    font-weight: normal;
    line-height: 46px;
    text-align: center;
    margin-left: -5px;
  }
  .product .dev_list_box .dev_game .news_til_box .news_til .news_line {
    width: 876px;
    height: 4px;
    background: #2ad9fe;
  }
  .product .dev_list_box .dev_game .news_til_box .news_til_mask {
    position: absolute;
    width: 150px;
    height: 46px;
    background: #2AD9FE;
    top: -19px;
    left: 95px;
    z-index: -2;
    transform: skewX(-20deg);
  }
  .product .dev_list_box .dev_game .news_til_box .news_til_more {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 86px;
    height: 28px;
    background: #ffffff;
    border: 1px solid #dddddd;
    transform: skewX(10deg);
    cursor: pointer;
  }
  .product .dev_list_box .dev_game .news_til_box .news_til_more div {
    transform: skewX(-10deg);
    font-size: 11px;
    font-weight: 400;
    color: #aaaaaa;
    line-height: 28px;
    text-align: center;
  }
  .product .dev_list_box .dev_game .dev_game_box {
    overflow: hidden;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left {
    overflow: hidden;
    margin-top: 37px;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left:nth-child(2) {
    margin-left: 52px;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box {
    width: 140px;
    height: 140px;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box img {
    width: 100%;
    height: 100%;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box {
    margin-left: 29px;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box h4 {
    font-size: 17px;
    font-weight: bold;
    color: #696969;
    line-height: 23px;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box .wordroom {
    margin-top: 12px;
    background: url('../../images/cocos3.png') no-repeat;
    background-size: 12px 15px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    line-height: 15px;
  }
  .product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box p {
    width: 242px;
    height: 80px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    position: relative;
    color: #000;
  }
}
