.about .banner_a_box {
  margin: auto;
  height: 336px;
  background: url('../../images/a_banner.png') no-repeat center;
  background-color: #033E4E;
  overflow: hidden;
}
.about .banner_a_box .white_book {
  width: 852px;
  margin: auto;
  margin-top: 267px;
  overflow: hidden;
}
.about .news_til_box {
  margin: auto;
  height: 59px;
  position: relative;
}
.about .news_til_box .news_til {
  width: 177px;
  height: 54px;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: 11.6px;
}
.about .news_til_box .news_til h3 {
  transform: skewX(20deg);
  font-family: FjallaOne;
  letter-spacing: 1px;
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
  margin-left: -10px;
}
.about .news_til_box .news_til .news_line {
  width: 1168px;
  height: 5px;
  background: #2ad9fe;
}
.about .news_til_box .news_til_mask {
  position: absolute;
  width: 177px;
  height: 54px;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-20deg);
}
.about .team_ex {
  margin: auto;
  width: 1170px;
  margin-top: 58px;
}
.about .team_ex p {
  margin-top: 51px;
  font-size: 22px;
  font-weight: normal;
  color: #767676;
  line-height: 40px;
  padding: 0 10px;
}
.about .team_box {
  margin: auto;
  width: 1170px;
  margin-top: 118px;
}
.about .team_box .team_pic_box {
  margin: auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.about .team_box .team_pic_box .team_every {
  height: 280px;
  width: 174px;
  margin-left: 71px;
  margin-top: 73px;
}
.about .team_box .team_pic_box .team_every:nth-child(1) {
  margin-left: 0;
}
.about .team_box .team_pic_box .team_every:nth-child(6) {
  margin-left: 0;
}
.about .team_box .team_pic_box .team_every:nth-child(11) {
  margin-left: 0;
}
.about .team_box .team_pic_box .team_every .pic_box {
  width: 174px;
  height: 200px;
}
.about .team_box .team_pic_box .team_every .pic_box img {
  width: 100%;
  height: 100%;
}
.about .team_box .team_pic_box .team_every .name {
  font-size: 22px;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #000000;
  line-height: 40px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.about .team_box .team_pic_box .team_every .ex {
  font-size: 18px;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #767676;
  line-height: 40px;
  margin: auto;
  text-align: center;
}
.about .adviser_box {
  margin: auto;
  width: 1170px;
  margin-top: 78px;
}
.about .adviser_box .team_pic_box {
  margin: auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.about .adviser_box .team_pic_box .team_every {
  height: 280px;
  width: 174px;
  margin-left: 71px;
  margin-top: 73px;
}
.about .adviser_box .team_pic_box .team_every:nth-child(1) {
  margin-left: 0;
}
.about .adviser_box .team_pic_box .team_every .pic_box {
  width: 174px;
  height: 200px;
}
.about .adviser_box .team_pic_box .team_every .pic_box img {
  width: 100%;
  height: 100%;
}
.about .adviser_box .team_pic_box .team_every .name {
  font-size: 22px;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #000000;
  line-height: 40px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.about .adviser_box .team_pic_box .team_every .ex {
  font-size: 18px;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #767676;
  line-height: 40px;
  margin: auto;
  text-align: center;
}
.about .hezuo {
  margin-top: 74px;
  height: auto;
  background: #fff;
  padding-bottom: 152px;
}
.about .hezuo .hezuo_box .hezuo_head .head_w {
  background: #676767;
}
.about .hezuo .hezuo_box .hezuo_imgs {
  width: 1174px;
  height: 1220px;
  margin: auto;
  margin-top: 42px;
}
.about .hezuo .hezuo_box .hezuo_imgs img {
  width: 100%;
  height: 100%;
}
