.develop .banner_box {
  margin: auto;
  height: 568px;
  background: url('../../images/d_banner.png') no-repeat center;
  background-color: #0D0D0D;
}
.develop .dev_box {
  margin-top: 14px;
  overflow: hidden;
  margin: auto;
  padding-bottom: 136px;
}
.develop .dev_box .dev_m {
  display: block;
  width: 1170px;
  height: 384px;
  background: rgba(226, 226, 226, 0.22);
  border: 1px solid #e2e2e2;
  margin: auto;
  margin-top: 90px;
  overflow: hidden;
  color: #000;
}
.develop .dev_box .dev_m .dev_img {
  width: 286px;
  height: 306px;
  margin-top: 41px;
  margin-left: 56px;
}
.develop .dev_box .dev_m .dev_img img {
  width: 100%;
  height: 100%;
}
.develop .dev_box .dev_m .dev_main {
  width: 705px;
  margin-left: 63px;
  margin-top: 48px;
}
.develop .dev_box .dev_m .dev_main .dev_main_til {
  width: 185px;
  height: 54px;
  background: #585858;
  transform: skewX(-22deg);
  border-radius: 1px;
}
.develop .dev_box .dev_m .dev_main .dev_main_til h4 {
  transform: skewX(22deg);
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  line-height: 54px;
  text-align: center;
  margin-left: -5px;
}
.develop .dev_box .dev_m .dev_main p {
  height: 127px;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 20px;
}
.develop .dev_box .dev_m .dev_main .dev_go {
  display: block;
  margin-top: 46px;
  width: 155px;
  background: #2AD9FE;
  transform: skewX(-22deg);
  height: 50px;
  margin-left: 538px;
}
.develop .dev_box .dev_m .dev_main .dev_go div {
  font-size: 29px;
  font-weight: 400;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  transform: skewX(22deg);
}
