.develop .banner_box {
  margin: auto;
  height: 3.6rem;
  background: url('../../images/d_banner.png') no-repeat center;
  background-size: 7.5rem 3.59rem;
}
.develop .dev_box {
  overflow: hidden;
  margin: auto;
  padding-bottom: .4rem;
}
.develop .dev_box .dev_m {
  display: block;
  width: 6.64rem;
  height: 3.9rem;
  background: rgba(226, 226, 226, 0.22);
  border: 1px solid #e2e2e2;
  margin: auto;
  margin-top: .5rem;
  overflow: hidden;
  color: #000;
  transform: translateX(7rem);
  opacity: .2;
  transition: all .7s;
}
.develop .dev_box .dev_m .dev_img {
  width: 3.06rem;
  height: 3rem;
  margin-top: .13rem;
  margin-left: .1rem;
}
.develop .dev_box .dev_m .dev_img img {
  width: 100%;
  height: 100%;
}
.develop .dev_box .dev_m .dev_main {
  width: 3.1rem;
  margin-left: .15rem;
  margin-top: .4rem;
}
.develop .dev_box .dev_m .dev_main .dev_main_til {
  width: 1.5rem;
  height: .44rem;
  background: #585858;
  transform: skewX(-22deg);
  border-radius: 1px;
  margin-left: .1rem;
}
.develop .dev_box .dev_m .dev_main .dev_main_til h4 {
  transform: skewX(22deg);
  font-size: .2rem;
  color: #ffffff;
  line-height: .44rem;
  text-align: center;
}
.develop .dev_box .dev_m .dev_main p {
  height: 2.02rem;
  font-size: .16rem;
  font-weight: 400;
  line-height: .29rem;
  margin-top: .18rem;
}
.develop .dev_box .dev_m .dev_main .dev_go {
  display: block;
  margin-top: .25rem;
  width: 1.2rem;
  background: #2AD9FE;
  transform: skewX(-22deg);
  height: .41rem;
  margin-left: 1.56rem;
  font-family: FjallaOne;
}
.develop .dev_box .dev_m .dev_main .dev_go div {
  font-size: .29rem;
  font-weight: 400;
  color: #ffffff;
  line-height: .41rem;
  text-align: center;
  transform: skewX(22deg);
  border: 1px solid transparent;
  box-sizing: border-box;
}
.develop .dev_box .dev_m:nth-child(1) p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.develop .dev_box .dev_m:nth-child(2) p {
  line-height: .26rem;
}
