.hd .hd_for .hd_box {
  overflow: hidden;
  margin-top: .35rem;
}
.hd .hd_for .hd_box .hd_every {
  width: 3.07rem;
  height: 1.31rem;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  margin-left: 48px;
}
.hd .hd_for .hd_box .hd_every:nth-child(1) {
  margin-left: 0;
}
.hd .hd_for .hd_box .hd_every .every_til {
  width: 2.46rem;
  margin: auto;
  height: .55rem;
  margin-top: .23rem;
  font-size: .18rem;
  color: #585858;
  overflow: hidden;
}
.hd .hd_for .hd_box .hd_every .every_b {
  margin-top: .1rem;
  overflow: hidden;
}
.hd .hd_for .hd_box .hd_every .every_b .e_address {
  height: .29rem;
  background: #585858;
  transform: skewX(-20deg);
  margin-left: .3rem;
}
.hd .hd_for .hd_box .hd_every .every_b .e_address p {
  padding: 0 .2rem;
  font-size: .18rem;
  color: #ffffff;
  transform: skewX(20deg);
  line-height: .29rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.hd .hd_for .hd_box .hd_every .every_b .e_date {
  height: .29rem;
  margin-right: .35rem;
  font-size: .18rem;
  font-weight: 400;
  color: #787878;
  line-height: .29rem;
}
.hd .hd_for .yg_box {
  margin-top: 16px;
  height: .29rem;
  margin-left: .1rem;
}
.hd .hd_for .yg_box .yg_text {
  width: .9rem;
  height: .29rem;
  background: #2AD9FE;
  transform: skewX(-25deg);
}
.hd .hd_for .yg_box .yg_text span {
  display: block;
  transform: skewX(25deg);
  font-size: .16rem;
  font-weight: 400;
  color: #ffffff;
  line-height: .29rem;
  text-align: center;
}
.hd .hd_for .yg_box .line1 {
  width: 1.9rem;
  overflow: hidden;
  color: #2AD9FE;
  font-size: .26rem;
  line-height: .29rem;
  height: .29rem;
}
.hd .hd_for .yg_box .ball {
  width: .29rem;
  height: .29rem;
  background: #2ad9fe;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: -0.1rem;
}
.hd .hd_for .yg_box .line2 {
  width: 3.25rem;
  overflow: hidden;
  color: #2AD9FE;
  font-size: .26rem;
  line-height: .29rem;
  height: .29rem;
}
.hd .hd_list_box {
  height: 13.76rem;
}
.hd .hd_list_box .hd_list_e {
  overflow: hidden;
  width: 6.5rem;
  height: 2.18rem;
  border: 1px solid #e2e2e2;
  padding: .12rem;
  box-sizing: border-box;
  margin-top: .43rem;
}
.hd .hd_list_box .hd_list_e .pic_box {
  width: 2.85rem;
  height: 1.93rem;
  overflow: hidden;
}
.hd .hd_list_box .hd_list_e .pic_box img {
  width: 100%;
  height: 100%;
}
.hd .hd_list_box .hd_list_e .e_text_box {
  margin-left: .25rem;
  margin-top: .06rem;
  width: 3.1rem;
  box-sizing: border-box;
}
.hd .hd_list_box .hd_list_e .e_text_box h5 {
  font-size: .24rem;
  height: .65rem;
  color: #323232;
  overflow: hidden;
}
.hd .hd_list_box .hd_list_e .e_text_box p {
  height: .42rem;
  margin-top: .1rem;
  font-size: .18rem;
  font-weight: 400;
  color: #323232;
  line-height: .25rem;
  height: .5rem;
  overflow: hidden;
}
.hd .hd_list_box .hd_list_e .e_text_box .e_address {
  display: inline-block;
  padding: 0 .2rem;
  height: .37rem;
  background: #2ad9fe;
  border-radius: 3px;
  margin-top: .24rem;
  font-size: .18rem;
  font-weight: 400;
  color: #ffffff;
  line-height: .37rem;
  text-align: center;
}
.hd .hd_list_box .hd_list_e .e_text_box .e_date {
  margin-top: .24rem;
  font-size: .18rem;
  font-weight: 400;
  color: #787878;
  line-height: .37rem;
  margin-right: .1rem;
}
