.banner-excitation-consultation {
  margin: auto;
  height:671px;
  background-size: cover;
  background-color: #033E4E;
  overflow: hidden;
}

.banner-excitation-consultation .home_btn_box {
  width: 1150px;
  margin: auto;
  margin-top: 313px;
}
.banner-excitation-consultation .home_btn_box .home_btn_box_mask {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 16px;
  width: 500px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0) 100%);
}
.banner-excitation-consultation .home_btn_box .home_btn_box_mask h5 {
  color: #fff;
  font-size: 38px;
  font-family: FjallaOne;
  font-weight: 400;
}
.banner-excitation-consultation .home_btn_box .home_btn_box_mask h6 {
  color: #fff;
  font-size: 29px;
  font-family: FjallaOne;
  font-weight: bold;
}
.banner-excitation-consultation .home_btn_box .home_btn_box_mask .play_btn {
  overflow: hidden;
  margin-top: 18px;
}
.banner-excitation-consultation .home_btn_box .home_btn_box_mask .play_btn img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: .8;
}
.banner-excitation-consultation .home_btn_box .home_btn_box_mask .play_btn img:hover {
  opacity: 1;
}
.banner-excitation-consultation .home_btn_box .home_btn_box_mask .play_btn p {
  width: 280px;
  margin-left: 25px;
  color: #dbd2d2;
  font-size: 13px;
  line-height: 19px;
}

.excitationConsultation-qrcode-container{
  height: 320px;
  background: url(./images/bg1.png) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 50px;
  box-sizing: border-box;
}
.excitationConsultation-qrcode-container .qrcode-img{
  width:180px;
  height:180px;
  margin: 0 auto;
  display: block;
}
.excitationConsultation-qrcode-container .qrcode-img-name{
  width: 100%;
  height:25px;
  font-size:18px;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:25px;
  text-align: center;
  margin-top: 16px;
}
.excitationConsultation-qrcode-container-bg1{
  background: url(./images/bg1.png) no-repeat center center;
}
.excitationConsultation-qrcode-container-bg2{
  background: url(./images/bg2.png) no-repeat center center;
}
.blank-bottom{
  height: 248px;
}
@media screen and (max-width: 1400px) {
  .banner-excitation-consultation .home_btn_box {
    width: 862px;
    margin: auto;
    margin-top: 225px;
  }
  .excitationConsultation-qrcode-container{
    height: 240px;
    background-size: 100% 100%;
  }
  
  .excitationConsultation-qrcode-container .qrcode-img{
    width: 135px;
    height: 135px;
    margin: 0 auto;
    display: block;
  }
  .excitationConsultation-qrcode-container .qrcode-img-name{
    width: 100%;
    height:25px;
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:25px;
    text-align: center;
    margin-top: 12px;
  }
  
  .blank-bottom{
    height: 186px;
  }
}

.excitationConsultation-title{
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}
