.pagenumber_box {
    float: right;
}

.pageNumber:nth-child(1) {
    float: right;
}

.page-container:after {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.page-container {
    zoom: 1
}

.page-container li {
    list-style: none;
    float: left;
    padding: 0 .12rem;
    cursor: pointer;
    border: 1px solid #ccc;
    height: .4rem;
    line-height: .4rem;
    margin-right: .08rem;
}

.page-container li:last-child {
    margin-right: 0px;
}

/*当前页样式*/
.activePage {
    color: #fff !important;
    background: #2AD9FE;
    border-color: #2AD9FE !important;
}

/*没有上一页和下一页时样式*/
.nomore {
    color: #b5b5b5 !important;
    cursor: not-allowed !important;
}