.video_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.video_box .video {
  margin: auto;
  width: 1200px;
  position: relative;
}
.video_box .video .close_box {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 1160px;
  cursor: pointer;
}
.video_box .video .close_box:hover {
  opacity: .7;
}
.video_box .video .close_box img {
  width: 40px;
  height: 40px;
}
.video_box .video .iframe {
  margin: auto;
}
.banner_box {
  width: 100%;
  height: 902px;
  margin: auto;
  background: url('../../images/bg_banner.png') no-repeat center;
  background-color: #0D1017;
  overflow: hidden;
}
.banner_box .play_btn {
  width: 1100px;
  margin: auto;
  margin-top: 503px;
  cursor: pointer;
  opacity: .8;
}
.banner_box .play_btn:hover {
  opacity: 1;
}
.banner_box .play_btn img {
  width: 52px;
  height: 52px;
}
.explane {
  width: 1170px;
  margin: auto;
}
.explane .expplane_til {
  margin-top: 72px;
  text-align: center;
  font-size: 36px;
  color: #676767;
}
.explane .expplane_main {
  margin-top: 44px;
  width: 1169px;
  border: 1px solid #e2e2e2;
  padding: 41px 34px 91px;
  box-sizing: border-box;
}
.explane .expplane_main ul li {
  list-style: none;
  font-size: 20px;
  color: #000000;
  line-height: 38px;
  font-family: PingFangSC-Regular, sans-serif;
}
.explane .fenge {
  display: block;
  width: 134px;
  height: 12px;
  margin: auto;
  margin-top: 52px;
}
.explane .explane_img {
  width: 1100px;
  margin: auto;
  margin-top: 56px;
  overflow: hidden;
}
.explane .explane_img .ex_l_box .ex_l_w {
  margin-left: 34px;
  width: 214px;
  height: 110px;
  transform: skewX(-25deg);
  border: 1px solid #dddddd;
}
.explane .explane_img .ex_l_box .ex_l_w img {
  display: block;
  width: 48px;
  height: 48px;
  transform: skewX(25deg);
  margin-left: 78px;
  margin-top: 30px;
}
.explane .explane_img .ex_img_til {
  font-size: 16px;
  color: #767676;
  line-height: 20px;
  margin-top: 31px;
  width: 250px;
  height: 41px;
  text-align: center;
}
.explane .explane_img .ex_img_text {
  margin-top: 18px;
  width: 250px;
  font-size: 13px;
  color: #2f2f2f;
  line-height: 20px;
  text-align: center;
}
.news_box {
  margin: auto;
  width: 1170px;
  margin-top: 81px;
}
.news_box .news_til_box {
  height: 59px;
  position: relative;
}
.news_box .news_til_box .news_til {
  width: 177px;
  height: 54px;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: 11.6px;
}
.news_box .news_til_box .news_til h3 {
  transform: skewX(20deg);
  font-family: FjallaOne;
  letter-spacing: 1px;
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
  margin-left: -30px;
}
.news_box .news_til_box .news_til .news_line {
  width: 1168px;
  height: 5px;
  background: #2ad9fe;
}
.news_box .news_til_box .news_til_mask {
  position: absolute;
  width: 177px;
  height: 54px;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-20deg);
}
.news_box .news_til_box .news_til_more {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 86px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #dddddd;
  transform: skewX(10deg);
  cursor: pointer;
}
.news_box .news_til_box .news_til_more div {
  transform: skewX(-10deg);
  font-size: 11px;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 28px;
  text-align: center;
}
.news_box .news_main {
  margin-top: 37px;
  width: 100%;
  height: 515px;
}
.news_box .news_main .news_top {
  overflow: hidden;
}
.news_box .news_main .news_top .news_top_box {
  width: 370px;
}
.news_box .news_main .news_top .news_top_box:nth-child(2) {
  margin-left: 30px;
}
.news_box .news_main .news_top .news_top_box:nth-child(3) {
  margin-left: 30px;
}
.news_box .news_main .news_top .news_top_box .news_pic {
  position: relative;
}
.news_box .news_main .news_top .news_top_box .news_pic a {
  display: block;
  width: 370px;
  height: 200px;
  overflow: hidden;
}
.news_box .news_main .news_top .news_top_box .news_pic a img {
  width: 370px;
  height: 200px;
  transition: all .6s;
}
.news_box .news_main .news_top .news_top_box .news_pic a img:hover {
  transform: scale(1.2);
}
.news_box .news_main .news_top .news_top_box .news_pic .news_top_til {
  position: absolute;
  width: 344px;
  height: 50px;
  left: 10px;
  transform: skewX(-20deg);
  background: #585858;
  bottom: -23px;
}
.news_box .news_main .news_top .news_top_box .news_pic .news_top_til div {
  transform: skewX(20deg);
}
.news_box .news_main .news_top .news_top_box .news_pic .news_top_til div h5 {
  font-size: 20px;
  font-family: FjallaOne;
  font-weight: 350;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  padding: 0 20px;
}
.news_box .news_main .news_top .news_top_box .news_top_content {
  margin-top: 56px;
  font-size: 13px;
  font-family: Roboto-Light;
  font-weight: 300;
  color: #878787;
  line-height: 17px;
  height: 50px;
}
.news_box .news_main .news_bottom {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.news_box .news_main .news_bottom li {
  width: 370px;
  margin-left: 30px;
  margin-top: 20px;
}
.news_box .news_main .news_bottom li:nth-child(1) {
  margin-left: 0;
}
.news_box .news_main .news_bottom li:nth-child(4) {
  margin-left: 0;
}
.news_box .news_main .news_bottom li a {
  display: block;
  overflow: hidden;
}
.news_box .news_main .news_bottom li a .img_box {
  width: 120px;
  height: 80px;
  overflow: hidden;
}
.news_box .news_main .news_bottom li a .img_box img {
  width: 120px;
  height: 80px;
  transition: all .6s;
}
.news_box .news_main .news_bottom li a .img_box img:hover {
  transform: scale(1.2);
}
.news_box .news_main .news_bottom li a .img_box_text {
  width: 250px;
  height: 80px;
  border: 1px solid #eeeeee;
  border-left: 0;
  box-sizing: border-box;
  transform: skewX(-12deg);
  margin-left: -8px;
}
.news_box .news_main .news_bottom li a .img_box_text div {
  transform: skewX(12deg);
}
.news_box .news_main .news_bottom li a .img_box_text div h5 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 17px;
  font-family: FjallaOne;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
  transform: translate3d(0, 0, 0);
}
.system {
  width: 100%;
  height: 544px;
  background: #333333;
  margin-top: 95px;
  position: relative;
}
.system .system_til_box {
  width: 1184px;
  margin: auto;
  padding-top: 55px;
}
.system .system_til_box .sys_til_our {
  width: 240px;
  height: 56px;
  background: #585858;
  transform: skewX(-22deg);
  margin-left: 13px;
}
.system .system_til_box .sys_til_our h4 {
  transform: skewX(22deg);
  font-size: 28px;
  font-family: FjallaOne;
  font-weight: 400;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
}
.system .sys_logo {
  width: 156px;
  height: 166px;
  margin: auto;
  margin-top: 56px;
}
.system .sys_logo img {
  width: 100%;
  height: 100%;
}
.system .sys_line {
  width: 884px;
  height: 42px;
  margin: auto;
  margin-top: 37px;
}
.system .sys_line img {
  width: 100%;
  height: 100%;
}
.system .sys_img {
  width: 1120px;
  height: 178px;
  margin: auto;
  margin-top: 8px;
}
.system .sys_img .sys_img_box {
  width: 189px;
  height: 178px;
  transform: skewX(-17deg);
  background: #585858;
  margin-left: 32px;
}
.system .sys_img .sys_img_box:nth-child(1) {
  margin-left: 0;
}
.system .sys_img .sys_img_box img {
  display: block;
  width: 64px;
  height: 64px;
  transform: skewX(17deg);
  margin: auto;
  margin-top: 47px;
}
.system .sys_img .sys_img_box:nth-child(2) img {
  width: 82px;
  height: 60px;
  margin-top: 51px;
}
.system .sys_img .sys_img_box:nth-child(3) img {
  width: 60px;
  height: 52px;
  margin-top: 58px;
}
.system .sys_img .sys_img_box:nth-child(4) img {
  width: 66px;
  height: 66px;
  margin-top: 49px;
}
.system .sys_img .sys_img_box:nth-child(5) img {
  width: 54px;
  height: 66px;
  margin-top: 50px;
}
.system .sys_img .sys_img_box p {
  margin-top: 28px;
  font-size: 16px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #ffffff;
  line-height: 17px;
  text-align: center;
  transform: skewX(17deg);
  margin-left: 15px;
}
.map {
  height: 488px;
  margin: auto;
  width: 1170px;
  margin-top: 168px;
}
.map .news_til_box {
  height: 59px;
  position: relative;
}
.map .news_til_box .news_til {
  width: 270px;
  height: 54px;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: 11.6px;
}
.map .news_til_box .news_til h3 {
  transform: skewX(20deg);
  font-family: FjallaOne;
  letter-spacing: 1px;
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
  margin-left: -30px;
}
.map .news_til_box .news_til .news_line {
  width: 1168px;
  height: 5px;
  background: #2ad9fe;
}
.map .news_til_box .news_til_mask {
  position: absolute;
  width: 177px;
  height: 54px;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-20deg);
}
.map .news_til_box .news_til_more {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 86px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #dddddd;
  transform: skewX(10deg);
  cursor: pointer;
}
.map .news_til_box .news_til_more div {
  transform: skewX(-10deg);
  font-size: 11px;
  font-family: MyriadPro-Regular;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 28px;
  text-align: center;
}
.map .map_main_box {
  margin-top: 27px;
  overflow: hidden;
}
.map .map_main_box .map_s_box {
  width: 217px;
  height: 180px;
  background: rgba(238, 238, 238, 0);
  border: 1px solid #dddddd;
  margin-left: 20px;
  padding: 15px 15px 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.map .map_main_box .map_s_box:nth-child(1) {
  margin-left: 0;
}
.map .map_main_box .map_s_box p {
  font-size: 12px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #2f2f2f;
  line-height: 25px;
}
.map .map_main_box .map_s_box h5 {
  position: absolute;
  font-size: 20px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #202020;
  right: 13px;
  bottom: 19px;
}
.map .line_box {
  width: 1154px;
  height: 40px;
  margin: auto;
  margin-top: 14px;
  background: url('../../images/cline.png') no-repeat center;
}
.map .line_box img {
  margin-left: 235px;
}
.map .line_box img:nth-child(1) {
  margin-left: 102px;
}
.map .map_date {
  display: flex;
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #202020;
}
.map .map_date div {
  flex: 1;
}
.hezuo {
  height: 940px;
  background: #333333;
}
.hezuo .hezuo_box {
  width: 1230px;
  margin: auto;
}
.hezuo .hezuo_box .hezuo_head {
  height: 86px;
  width: 100%;
  position: relative;
}
.hezuo .hezuo_box .hezuo_head .head_w {
  position: absolute;
  width: 114px;
  height: 41px;
  background: #fff;
  transform: skewX(-25deg);
  top: 45px;
  left: 9.5px;
}
.hezuo .hezuo_box .hezuo_head .head_b {
  position: absolute;
  height: 110px;
  width: 258px;
  background: #2AD9FE;
  transform: skewX(-25deg);
  top: -41px;
  left: 77px;
}
.hezuo .hezuo_box .hezuo_head .head_b img {
  display: block;
  width: 108px;
  height: 46px;
  transform: skewX(25deg);
  margin: auto;
  margin-top: 33px;
}
.hezuo .hezuo_box .hezuo_head .head_til {
  position: absolute;
  width: 898px;
  height: 46px;
  background: #676767;
  transform: skewX(-25deg);
  bottom: 17px;
  left: 328px;
}
.hezuo .hezuo_box .hezuo_head .head_til .head_til_box {
  transform: skewX(25deg);
  font-size: 30px;
  font-family: HiraginoSansGB-W6;
  font-weight: normal;
  color: #ffffff;
  line-height: 46px;
  margin-left: 40px;
}
.hezuo .hezuo_box .hezuo_head .head_til .head_til_b {
  position: absolute;
  width: 750px;
  height: 5px;
  background: #2AD9FE;
  left: 46px;
}
.hezuo .hezuo_box .hezuo_com {
  width: 1151px;
  margin: auto;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top {
  overflow: hidden;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top div {
  width: 202px;
  height: 139px;
  margin-left: 34px;
  margin-top: 35px;
  cursor: pointer;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top div:nth-child(1) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_com .hezuo_top div:nth-child(6) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_com .hezuo_middle {
  width: 29px;
  height: 31px;
  margin: auto;
  margin-top: 24px;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom {
  overflow: hidden;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom div {
  width: 202px;
  height: 139px;
  margin-left: 34px;
  margin-top: 23px;
  cursor: pointer;
}
.hezuo .hezuo_box .hezuo_com .hezuo_bottom div:nth-child(1) {
  margin-left: 0;
}
.hezuo .hezuo_box .hezuo_sm {
  margin: auto;
  margin-top: 126px;
  text-align: center;
}
.hezuo .hezuo_box .hezuo_sm h6 {
  font-size: 20px;
  font-family: MyriadPro-Regular;
  font-weight: bold;
  color: #2ad9fe;
}
.hezuo .hezuo_box .hezuo_sm p {
  margin-top: 21px;
  font-size: 13px;
  font-family: HiraginoSansGB-W3;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.44;
}
