.action {
    .banne_n_box {
        margin: auto;
        height: 336px;
        background: url('../../images/n_banner.png') no-repeat center;
        background-color: #07070a;
        overflow: hidden;

    }
}