.action .banne_n_box {
  margin: auto;
  height: 336px;
  background: url('../../images/n_banner.png') no-repeat center;
  background-color: #07070a;
  overflow: hidden;
}
.action .banne_n_box .a_nav {
  width: 760px;
  height: 54px;
  margin: auto;
  margin-top: 176px;
  transform: skewX(-25deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.action .banne_n_box .a_nav a {
  flex: 1;
  margin-left: 2px;
  background: #585858;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 20px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
}
.action .banne_n_box .a_nav a span {
  display: block;
  transform: skewX(25deg);
}
.action .banne_n_box .a_nav .active {
  background: #2AD9FE;
}
