.about .banner_a_box {
  margin: auto;
  height: 3.59rem;
  background: url('./images/banner.png') no-repeat center;
  background-size: 7.5rem 3.59rem;
  background-color: #150F11;
  overflow: hidden;
}
.about .news_til_box .news_til h3.cn {
  font-size: 0.24rem;
  letter-spacing: 0;
}
.about .news_til_box .news_til h3.en {
  font-size: 0.2rem;
  letter-spacing: 0;
}
.center-container {
  width: 6.5rem;
  margin: 0 auto;
}
.mart32{
  margin-top: 0.32rem;
}
.incentive-container{
  position: relative;
  border:1px solid rgba(220,220,220,1);
  padding-bottom: 0.42rem;
  margin-top: 0.32rem;
}
.incentive-container img{
  width: 100%;
  display: block;
}
.incentive-container .main-col-2-describe{
  width: 6.18rem;
  height: 0.62rem;
  margin: 0.18rem auto 0;
  font-size: 0.24rem;
  color:rgba(51,51,51,1);
  line-height: 0.31rem;
  display: block;
}


.incentive-container .main-col-2-btn{
  display: block;
  width: 3.96rem;
  height: 0.6rem;
  line-height: 0.6rem;
  background:rgba(42,217,254,1);
  border-radius: 0.02rem;
  margin: 0.46rem auto 0;
  font-size: 0.24rem;
  font-weight:900;
  color:rgba(255,255,255,1);
  text-align: center;
}

.incentive-container:nth-child(even) .main-col-2-left-img-text{
  position: absolute;
  top: 1.2rem;
  left: 0.67rem;
  color: #fff;
}
.incentive-container:nth-child(odd) .main-col-2-left-img-text{
  position: absolute;
  top: 0.9rem;
  right: 0.46rem;
  color: #fff;
}
.incentive-container .main-col-2-left-img-text .main-col-2-img-text-title{
  height: 0.33rem;
  font-size: 0.24rem;
  font-weight:300;
  color:rgba(255,255,255,1);
  line-height: 0.33rem;
  margin-top: 0.15rem;
}
.incentive-container .main-col-2-left-img-text .main-col-2-img-text-title:first-child{
  margin-top: 0;
}
.incentive-container .main-col-2-left-img-text .main-col-2-img-text-horizontal{
  height:2px;
  line-height: 100%;
  margin-top: 0.15rem;
}
.incentive-container .main-col-2-left-img-text .main-col-2-img-text-horizontal .horizontal-bar-left{
  width: 0.24rem;
  height: 0.02rem;
  float: right;
}
.incentive-container .main-col-2-left-img-text .main-col-2-img-text-right-horizontal{
  height:2px;
  line-height: 3px;
  margin-top: 0.23rem;
}
.incentive-container .main-col-2-left-img-text .main-col-2-img-text-right-horizontal .horizontal-bar-right{
  width: 0.33rem;
  height: 3px;
}
.incentive-container .main-col-2-left-img-text .main-col-2-img-text-date{
  height:0.25rem;
  font-size:0.18rem;
  font-weight:300;
  color:rgba(255,255,255,1);
  line-height:0.25rem;
  margin-top: 0.08rem;
}


/* flex 2个 */
.container{
  display: flex;
}
.container .col-2-container {
  width: 3.1rem;
  margin-top: 0.4rem;
}
.container .col-2-container a{
  display: block;
}
.container .col-2-container:nth-child(odd) {
  margin-right: 0.28rem
}
.container .col-2-container img{
  width: 100%;
  display: block;
}

.infomation{
  width: 100%;
  padding-bottom: 0.34rem;
}
.infomation p{
  width: 2.78rem;
  height: 0.78rem;
  line-height: 0.26rem;
  font-size: 0.2rem;
  color:rgba(51,51,51,1);
  margin: 0.16rem auto 0;
}
/* flex 2个 */

.icon-main{
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  border:1px solid rgba(220,220,220,1);
  margin-top: 0.2rem;
}
.icon-main a{
  display: flex;
}
.icon-main a img{
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.24rem;
  /* border: 0.02rem solid rgba(235,235,235,1); */
}
.icon-infomation{
  height: 1.2rem;
  width: 4.58rem;
  margin-left: 0.16rem;
}
.icon-infomation .title{
  height: 0.33rem;
  line-height: 0.33rem;
  font-size: 0.24rem;
  color:rgba(51,51,51,1);
  font-weight: 600;
  margin-top: 0.06rem;
}
.icon-infomation .describe{
  height: 0.66rem;
  line-height: 0.33rem;
  font-size: 0.24rem;
  font-weight:400;
  color:rgba(102,102,102,1);
  margin-top: 0.1rem;
}

.text-align-right{
  text-align: right;
}

.text-align-left{
  text-align: left;
}
.bor1{
  border:1px solid rgba(235,235,235,1);
}
.blank20{
  height: 0.2rem;
}
.personNum{
  
  font-size: 0.36rem;
  font-weight:900;
  color:rgba(255,255,255,1);
}