.about .banner_a_box {
  margin: auto;
  height: 3.59rem;
  background: url('../../images/a_banner.png') no-repeat center;
  background-size: 7.5rem 3.59rem;
  background-color: #150F11;
  overflow: hidden;
}
.about .banner_a_box .white_book {
  width: 7.5rem;
  margin: auto;
  overflow: hidden;
  margin-top: 2.66rem;
}
.about .banner_a_box .white_book .w_book {
  width: .9rem;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  margin-right: 1.015rem;
  color: #fff;
  font-size: .14rem;
  line-height: .25rem;
  text-align: center;
}
.about .team_ex {
  margin: auto;
  width: 6.54rem;
  margin-top: .47rem;
}
.about .team_ex p {
  margin-top: .4rem;
  font-size: .22rem;
  color: #767676;
  line-height: .4rem;
  padding-right: .1rem;
}
.about .news_til_box {
  margin: auto;
  height: .48rem;
  position: relative;
}
.about .news_til_box .news_til {
  width: 1.45rem;
  height: .44rem;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: .08rem;
}
.about .news_til_box .news_til h3 {
  transform: skewX(20deg);
  letter-spacing: 2px;
  font-size: .26rem;
  color: #ffffff;
  font-weight: normal;
  line-height: .44rem;
  text-align: center;
}
.about .news_til_box .news_til .news_line {
  width: 6.45rem;
  height: .04rem;
  background: #2ad9fe;
}
.about .news_til_box .news_til_mask {
  position: absolute;
  width: 1.2rem;
  height: .41rem;
  background: #2AD9FE;
  top: -0.15rem;
  left: .93rem;
  z-index: -2;
  transform: skewX(-20deg);
}
.about .team_box {
  margin: auto;
  width: 6.54rem;
  margin-top: .56rem;
}
.about .team_box .team_pic_box {
  margin: auto;
  height: 9.04rem;
  padding-bottom: 40px;
}
.about .team_box .team_pic_box .team_every {
  height: 2.8rem;
  width: 1.74rem;
  margin-left: .59rem;
  margin-top: .36rem;
  position: relative;
}
.about .team_box .team_pic_box .team_every:nth-child(1) {
  margin-left: 0;
}
.about .team_box .team_pic_box .team_every:nth-child(4) {
  margin-left: 0;
}
.about .team_box .team_pic_box .team_every:nth-child(7) {
  margin-left: 0;
}
.about .team_box .team_pic_box .team_every:nth-child(10) {
  margin-left: 0;
}
.about .team_box .team_pic_box .team_every .pic_box {
  width: 1.74rem;
  height: 2rem;
}
.about .team_box .team_pic_box .team_every .pic_box img {
  width: 100%;
  height: 100%;
}
.about .team_box .team_pic_box .team_every .name {
  font-size: .22rem;
  color: #000000;
  margin: auto;
  text-align: center;
  margin-top: .21rem;
}
.about .team_box .team_pic_box .team_every .ex {
  font-size: .16rem;
  color: #767676;
  margin: auto;
  text-align: center;
  margin-top: .1rem;
}
.about .team_box .team_pic_box .team_every .people_ex_box {
  display: none;
  position: absolute;
  width: 2.6rem;
  border: 1px solid #2ad9fe;
  box-shadow: 0px 2px 4px 0px rgba(32, 84, 133, 0.4);
  top: -0.2rem;
  left: -0.4rem;
  overflow: hidden;
  z-index: 50;
  cursor: pointer;
  color: #999999;
}
.about .team_box .team_pic_box .team_every .people_ex_box a {
  position: absolute;
  right: .3rem;
  top: 1.5rem;
  width: .42rem;
  height: .42rem;
  font-size: 0;
}
.about .team_box .team_pic_box .team_every .people_ex_box a img {
  width: 100%;
  height: 100%;
}
.about .team_box .team_pic_box .team_every .people_ex_box .ext {
  margin: auto;
  margin-top: 3.1rem;
  font-size: .18rem;
  line-height: .25rem;
  background: #fff;
  padding-bottom: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
}
.about .team_box .team_pic_box .team_every .people_ex_box .ext_en {
  margin-top: 3.3rem;
  font-size: .18rem;
  line-height: .25rem;
  background: #fff;
  padding-bottom: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
}
.about .adviser_box {
  margin: auto;
  width: 6.54rem;
  margin-top: .6rem;
}
.about .adviser_box .team_pic_box {
  margin: auto;
  height: 6rem;
  padding-bottom: .32rem;
  position: relative;
}
.about .adviser_box .team_pic_box .team_every {
  height: 2.42rem;
  width: 1.74rem;
  margin-left: .61rem;
  margin-top: .41rem;
  position: relative;
}
.about .adviser_box .team_pic_box .team_every:nth-child(1) {
  margin-left: 0;
}
.about .adviser_box .team_pic_box .team_every:nth-child(4) {
  margin-left: 0;
}
.about .adviser_box .team_pic_box .team_every .pic_box {
  width: 1.74rem;
  height: 2rem;
}
.about .adviser_box .team_pic_box .team_every .pic_box img {
  width: 100%;
  height: 100%;
}
.about .adviser_box .team_pic_box .team_every .name {
  font-size: .22rem;
  color: #000000;
  margin: auto;
  text-align: center;
  margin-top: .21rem;
}
.about .adviser_box .team_pic_box .team_every .people_ex_two {
  display: none;
  position: absolute;
  width: 2.6rem;
  border: 1px solid #2ad9fe;
  box-shadow: 0px 2px 4px 0px rgba(32, 84, 133, 0.4);
  top: -0.2rem;
  left: -0.4rem;
  overflow: hidden;
  z-index: 50;
  cursor: pointer;
  color: #999999;
}
.about .adviser_box .team_pic_box .team_every .people_ex_two a {
  position: absolute;
  right: .3rem;
  top: 1.5rem;
  width: .42rem;
  height: .42rem;
  font-size: 0;
}
.about .adviser_box .team_pic_box .team_every .people_ex_two a img {
  width: 100%;
  height: 100%;
}
.about .adviser_box .team_pic_box .team_every .people_ex_two p {
  margin: auto;
  margin-top: 2.8rem;
  font-size: .18rem;
  line-height: .25rem;
  background: #fff;
  padding-bottom: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
}
.about .hezuo {
  height: auto;
  background: #fff;
  padding-bottom: .76rem;
}
.about .hezuo .hezuo_box .hezuo_head .head_w {
  background: #676767;
}
.about .hezuo .hezuo_box .hezuo_imgs {
  width: 7.06rem;
  height: 7.34rem;
  margin: auto;
  margin-top: .32rem;
}
.about .hezuo .hezuo_box .hezuo_imgs img {
  width: 100%;
  height: 100%;
}
