.new {
  width: 1168px;
  margin: auto;
}
.new .news_til_box {
  height: 59px;
  position: relative;
  margin-top: 55px;
}
.new .news_til_box .news_til {
  width: 177px;
  height: 54px;
  background: #585858;
  transform: skewX(-25deg);
  position: relative;
  margin-left: 11.6px;
}
.new .news_til_box .news_til h3 {
  transform: skewX(25deg);
  letter-spacing: 1px;
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
  margin-left: -30px;
}
.new .news_til_box .news_til .news_line {
  width: 1168px;
  height: 5px;
  background: #2ad9fe;
}
.new .news_til_box .news_til_mask {
  position: absolute;
  width: 177px;
  height: 54px;
  background: #2AD9FE;
  top: -19px;
  left: 112px;
  z-index: -2;
  transform: skewX(-25deg);
}
.new .news_til_box .news_til_more {
  position: absolute;
  top: 9px;
  right: 10px;
  background: #ffffff;
  transform: skewX(15deg);
  cursor: pointer;
  overflow: hidden;
}
.new .news_til_box .news_til_more .zx_btn,
.new .news_til_box .news_til_more .sp_btn {
  width: 86px;
  font-size: 11px;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 28px;
  text-align: center;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  cursor: pointer;
}
.new .news_til_box .news_til_more .zx_btn:hover,
.new .news_til_box .news_til_more .sp_btn:hover {
  opacity: .8;
}
.new .news_til_box .news_til_more .zx_btn span,
.new .news_til_box .news_til_more .sp_btn span {
  display: block;
  transform: skewX(-15deg);
}
.new .news_til_box .news_til_more .sp_btn {
  border-left: 0;
}
.new .news_til_box .news_til_more .active {
  background: #585858;
  color: #fff;
}
.new .new_list .new_list_box {
  overflow: hidden;
  height: 690px;
}
.new .new_list .new_list_box li {
  width: 267px;
  height: 300px;
  border: 1px solid #e2e2e2;
  margin-top: 44px;
  margin-left: 33px;
  box-sizing: border-box;
}
.new .new_list .new_list_box li:nth-child(1) {
  margin-left: 0;
}
.new .new_list .new_list_box li:nth-child(5) {
  margin-left: 0;
}
.new .new_list .new_list_box li .img_box {
  width: 267px;
  height: 150px;
  overflow: hidden;
}
.new .new_list .new_list_box li .img_box img {
  width: 100%;
  height: 100%;
  transition: all .6s;
}
.new .new_list .new_list_box li .img_box img:hover {
  transform: scale(1.2);
}
.new .new_list .new_list_box li .new_til {
  height: 50px;
  padding: 18px 14px 2px 14px;
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  line-height: 25px;
  overflow: hidden;
}
.new .new_list .new_list_box li .new_bottom {
  padding: 0 14px;
  overflow: hidden;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
}
.new .pageNumber {
  height: 34px;
  margin-top: 49px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1400px) {
  .new {
    width: 876px;
    margin: auto;
  }
  .new .news_til_box {
    height: 50px;
    position: relative;
  }
  .new .news_til_box .news_til {
    width: 150px;
    height: 46px;
    background: #585858;
    transform: skewX(-20deg);
    position: relative;
    margin-left: 10px;
  }
  .new .news_til_box .news_til h3 {
    transform: skewX(20deg);
    letter-spacing: 1px;
    font-size: 17px;
    color: #ffffff;
    font-weight: normal;
    line-height: 46px;
    text-align: center;
    margin-left: -8px;
  }
  .new .news_til_box .news_til .news_line {
    width: 875px;
    height: 4px;
    background: #2ad9fe;
  }
  .new .news_til_box .news_til_mask {
    position: absolute;
    width: 150px;
    height: 50px;
    background: #2AD9FE;
    top: -19px;
    left: 90px;
    z-index: -2;
    transform: skewX(-20deg);
  }
  .new .news_til_box .news_til_more {
    position: absolute;
    top: 9px;
    right: 10px;
    background: #ffffff;
    transform: skewX(15deg);
    cursor: pointer;
    overflow: hidden;
  }
  .new .news_til_box .news_til_more .zx_btn,
  .new .news_til_box .news_til_more .sp_btn {
    width: 80px;
    font-size: 10px;
    font-weight: 400;
    color: #aaaaaa;
    line-height: 25px;
    text-align: center;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    cursor: pointer;
  }
  .new .news_til_box .news_til_more .zx_btn:hover,
  .new .news_til_box .news_til_more .sp_btn:hover {
    opacity: .8;
  }
  .new .news_til_box .news_til_more .zx_btn span,
  .new .news_til_box .news_til_more .sp_btn span {
    display: block;
    transform: skewX(-15deg);
  }
  .new .news_til_box .news_til_more .sp_btn {
    border-left: 0;
  }
  .new .news_til_box .news_til_more .active {
    background: #585858;
    color: #fff;
  }
  .new .new_list .new_list_box {
    overflow: hidden;
    height: 550px;
  }
  .new .new_list .new_list_box li {
    width: 200px;
    height: 230px;
    border: 1px solid #e2e2e2;
    margin-top: 44px;
    margin-left: 25px;
    box-sizing: border-box;
  }
  .new .new_list .new_list_box li:nth-child(1) {
    margin-left: 0;
  }
  .new .new_list .new_list_box li:nth-child(5) {
    margin-left: 0;
  }
  .new .new_list .new_list_box li .img_box {
    width: 200px;
    height: 114px;
    overflow: hidden;
  }
  .new .new_list .new_list_box li .img_box img {
    width: 100%;
    height: 100%;
    transition: all .6s;
  }
  .new .new_list .new_list_box li .img_box img:hover {
    transform: scale(1.2);
  }
  .new .new_list .new_list_box li .new_til {
    height: 40px;
    padding: 14px 12px 0px 12px;
    font-size: 15px;
    font-weight: 400;
    color: #323232;
    line-height: 20px;
    overflow: hidden;
  }
  .new .new_list .new_list_box li .new_bottom {
    padding: 0 14px;
    overflow: hidden;
    margin-top: 26px;
    font-size: 13px;
    font-weight: 400;
    color: #787878;
  }
  .new .pageNumber {
    height: 34px;
    margin-top: 49px;
    margin-bottom: 100px;
  }
}
