body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'FjallaOne';
  src: url('./font/fjallaone-webfont.woff2') format('woff2'),
       url('./font/fjallaone-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
li{
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lt {
  float: left;
}

.rt {
  float: right;
}