.product .banner_s_box {
  margin: auto;
  height: 3.59rem;
  background: url('../../images/s_banner.png') no-repeat center;
  background-size: 7.5rem 3.59rem;
  overflow: hidden;
}
.product .dev_plan {
  width: 6.68rem;
  height: 1.56rem;
  margin: auto;
  margin-top: -0.4rem;
  background: url('../../images/net.png') no-repeat center;
  background-size: 6.68rem 1.56rem;
  overflow: hidden;
}
.product .dev_plan .ljdev {
  display: block;
  height: .37rem;
  margin-top: .62rem;
  font-size: .14rem;
  color: #ffffff;
  line-height: .37rem;
  text-align: center;
}
.product .dev_plan .ljdev span {
  display: inline-block;
  background: #2ad9fe;
  border-radius: 4px;
  margin: auto;
  padding: 0 .15rem;
}
.product .dev_list_box {
  margin: auto;
  margin-top: .44rem;
}
.product .dev_list_box .dev_game {
  margin: auto;
  width: 6.54rem;
}
.product .dev_list_box .dev_game .news_til_box {
  margin: auto;
  height: .49rem;
  position: relative;
}
.product .dev_list_box .dev_game .news_til_box .news_til {
  width: 1.6rem;
  height: .44rem;
  background: #585858;
  transform: skewX(-20deg);
  position: relative;
  margin-left: .1rem;
}
.product .dev_list_box .dev_game .news_til_box .news_til h3 {
  transform: skewX(20deg);
  letter-spacing: 1px;
  font-size: .26rem;
  color: #ffffff;
  font-weight: normal;
  line-height: .44rem;
  text-align: center;
  margin-left: -0.08rem;
}
.product .dev_list_box .dev_game .news_til_box .news_til .news_line {
  width: 6.54rem;
  height: 5px;
  background: #2ad9fe;
}
.product .dev_list_box .dev_game .news_til_box .news_til_mask {
  position: absolute;
  width: 1.23rem;
  height: .41rem;
  background: #2AD9FE;
  top: -0.15rem;
  left: 1.1rem;
  z-index: -2;
  transform: skewX(-20deg);
}
.product .dev_list_box .dev_game .dev_game_box {
  overflow: hidden;
  padding-bottom: .5rem;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left {
  overflow: hidden;
  margin-top: .35rem;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box {
  margin-top: .1rem;
  width: 2.2rem;
  height: 2.2rem;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .img_box img {
  width: 100%;
  height: 100%;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box {
  margin-left: .33rem;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box h4 {
  font-size: .26rem;
  font-weight: bold;
  color: #696969;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box .wordroom {
  margin-top: .16rem;
  background: url('../../images/people.png') 0 0rem no-repeat;
  background-size: auto .2rem;
  padding-left: .3rem;
  font-size: .2rem;
  font-weight: 400;
  color: #696969;
}
.product .dev_list_box .dev_game .dev_game_box .dev_game_left .dev_text_box p {
  width: 3.55rem;
  height: 1.33rem;
  margin-top: .3rem;
  font-size: .22rem;
  font-weight: 300;
  line-height: .27rem;
  position: relative;
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
