.nav_box {
  width: 1.2rem;
  margin-left: 6rem;
  margin-top: .34rem;
}
.nav_box .lang_box {
  width: .7rem;
  height: .26rem;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid #2AD9FE;
  border-radius: 3px;
  position: relative;
}
.nav_box .lang_box .lang {
  box-sizing: border-box;
  margin: auto;
  background: url(../../images/langjt.png) no-repeat right;
  background-size: .12rem;
  font-size: .2rem;
  font-family: HiraginoSansGB-W3;
  font-weight: 400;
  color: #2AD9FE;
  text-align: center;
  line-height: .26rem;
  margin-right: .06rem;
  padding-right: .08rem;
}
.nav_box .lang_box .choose_lang_box {
  display: none;
  position: absolute;
  background: #fff;
  width: .7rem;
  height: .8rem;
  left: 0;
  top: .36rem;
  font-size: .16rem;
  border: 1px solid #2AD9FE;
}
.nav_box .lang_box .choose_lang_box div {
  height: .4rem;
  color: #000;
  line-height: .4rem;
  text-align: center;
  box-sizing: border-box;
}
.nav_box .lang_box .choose_lang_box .chinese {
  border-bottom: 1px solid #ccc;
}
.nav_box .nav {
  width: .3rem;
  height: .28rem;
  background: url('../../images/nav_list.png') no-repeat center;
  background-size: .3rem .26rem;
  margin-left: .16rem;
}
.nav_box .nav .nav_list_box {
  display: none;
  position: fixed;
  width: 7.5rem;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 30;
}
.nav_box .nav .nav_list_box .active {
  color: #2AD9FE;
}
.nav_box .nav .nav_list_box .nav_logo_box {
  height: .93rem;
  background: #fff;
  overflow: hidden;
  font-size: 0;
  border-bottom: 1px solid #cfcfcf;
}
.nav_box .nav .nav_list_box .nav_logo_box .logo {
  width: 1.23rem;
  height: .54rem;
  margin-top: .16rem;
  margin-left: .24rem;
}
.nav_box .nav .nav_list_box .nav_logo_box .close {
  float: right;
  width: .26rem;
  height: .26rem;
  margin-top: .35rem;
  margin-right: .38rem;
}
.nav_box .nav .nav_list_box .navBox {
  display: block;
  height: .59rem;
  color: #585858;
  line-height: .59rem;
  font-size: .26rem;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}
.nav_box .nav .nav_list_box .navBox:nth-child(4) {
  background: #F2F2F2;
}
.nav_box .nav .nav_list_box .navBox:nth-child(5) {
  background: #F2F2F2;
}
.nav_box .nav .nav_list_box .navBox:nth-child(6) {
  background: #F2F2F2;
}
.nav_box .nav .nav_list_box .navBox:nth-child(12) {
  background: #F2F2F2;
}
.nav_box .nav .nav_list_box .navBox:nth-child(13) {
  background: #F2F2F2;
}
