.action .banne_n_box {
  margin: auto;
  height: 3.59rem;
  width: 7.5rem;
  background: url('../../images/n_banner.png') no-repeat center;
  background-size: 7.5rem 3.59rem;
  background-color: #07070a;
  overflow: hidden;
}
.action .banne_n_box .a_nav {
  width: 6.5rem;
  height: .47rem;
  margin: auto;
  margin-top: 1.73rem;
  transform: skewX(-25deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.action .banne_n_box .a_nav a {
  flex: 1;
  margin-left: 2px;
  background: #585858;
  height: .47rem;
  line-height: .47rem;
  color: #fff;
  font-size: .2rem;
  font-weight: 400;
}
.action .banne_n_box .a_nav a span {
  display: block;
  transform: skewX(25deg);
}
.action .banne_n_box .a_nav .a_nav_en {
  line-height: 20px;
  font-size: 16px;
  padding-top: 10px;
  box-sizing: border-box;
}
.action .banne_n_box .a_nav .active {
  background: #2AD9FE;
}
